<div class="app-body">
  <main class="col-12 d-flex align-items-center" style="height:100vh">
    <div class="container">
      <div class="row">
        <div class="col-lg-11 col-md-11 mx-auto col-xs-12">
          <div class="card-group">
            <div class="card text-white bg-primary py-5 d-md-down-none col-md-7">
              <div class="card-body d-flex flex-column">
                <div class="m-auto ml-0 d-flex flex-column devTitle">
                  <h1 class="text-left">Infosys DevOps Platform</h1>
                  <p class="text-left f18">For Agile and DevOps at Scale for Digital transformation</p>
                </div>
                <div class="ml-0 d-flex flex-column">
                  <span class="float-left spacingBG"></span>
                </div>
                <div class="m-auto ml-0 d-flex flex-row Copyright">
                  <span class="f14 text-left">Copyright © {{idpBuildInfo.buildYear}} Infosys </span>                 
                  <span class="f14 px-1  text-left"> | 1.6.0</span>
                </div>
              </div>
            </div>
            <div class="card p-4 col-lg-5 col-md-12">
              <div class="card-body login-right">
                <img class="logo" src="assets/img/brand/IDP_logoSmall.png" alt="Logo" />
                <form id="loginForm"   #loginForm="ngForm"  (ngSubmit)="authenticateUser(loginForm)">
                  <h2>Login</h2>
                  <p class="text-muted">Sign In to your account</p>
                  <div class="input-group mb-4">                    
                    <input id="username" type="text" name="username"  ngModel class="form-control" placeholder="Username" autocomplete="username" required>
                    <div class="input-group-prepend">
                      <img src="assets/img/login/username.png" alt="User Name"/>
                    </div>
                  </div>
                  <div class="input-group mb-4">                    
                    <input id="password" type="password" name="password" ngModel class="form-control" placeholder="Password" autocomplete="current-password" required>
                    <div class="input-group-prepend">
                        <img src="assets/img/login/pwd.png" alt="Password"/>
                      </div>
                  </div>
                  <div>
                      <button id="loginButton" type="submit"  class="btn d-block btn-primary px-12">
                        Login
                        <i *ngIf="isLoading" class="fa fa-spinner fa-spin"></i>
                      </button>
                      <div class="well p-2">
                       <label class="text-danger">{{this.ErrorMsg}}</label>
                      </div>
                  </div>
                </form>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
