.app-body {
  background: url("assets/img/login/login_BG.jpg") no-repeat 0 0;
  background-size: cover;
}

.spacingBG {
  background: url("assets/img/login/spacing.jpg") no-repeat 0 0;
  width: 34px;
  height: 3px;
}

.card.bg-primary {
  border: none;
}

h1 {
  font-size: 48px;
  line-height: 50px;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
  font-family: "MyriadPro-Semibold";
  margin-bottom: 5px;
}

h2 {
  font-size: 32px;
  line-height: 34px;
  color: rgb(51, 51, 51);
  font-family: "MyriadPro-Semibold";
  margin-bottom: 8px;
}

.f18 {
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
}

.bg-primary {
  background: rgba(0, 124, 195, 0.8) !important;
}

.btn-primary {
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0.1, 124, 195, 0.17);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0.1, 124, 195, 0.17);
  box-shadow: 0px 0px 8px 0px rgba(0.1, 124, 195, 0.11);
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border: none;
  margin-top: 65px;
  height: 57px;
  line-height: 46px;
  font-size: 18px;
  width: 100%;
}

.m-auto.ml-0 {
  margin-left: 0 !important;
}

.login-right {
  padding: 0 5px;
}

.login-right img.logo {
  margin: 0 0 45px;
}

form p {
  font-size: 16px;
  line-height: 18px;
  color: #666 !important;
  margin-bottom: 2.5rem;
}

.devTitle {
  margin-bottom: 30px !important;
}

.Copyright {
  margin-top: 30px !important;
}

.card {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}

form input {
  border: none;
  background: none !important;
  margin: auto !important;
  font-size: 14px !important;
  color: #666 !important;
}

form img {
  width: auto;
  max-height: 23px;
  margin: auto !important;
}

input:-internal-autofill-previewed,
input:-internal-autofill-selected,
textarea:-internal-autofill-previewed,
textarea:-internal-autofill-selected,
select:-internal-autofill-previewed,
select:-internal-autofill-selected,
#username,
input.ng-valid,
input.ng-pristine {
  background-color: #fbfbfc !important;
}

.input-group-prepend {
  width: 50px;
}

.input-group {
  border: 1px solid #d7dae3;
  height: 46px;
  background: #fbfbfc;
}
