#loginPageBg{
  /* background: url('assets/images/Login_page_BG.png'); */
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:scroll;
  height: 620px;
}


#username
	{
	margin-top:25px;
	height: 40px;
	border-radius: 6px 6px 6px 6px;
	font-size: 16px;
	font-family: OpenSans;
	}
#password
	{
	margin-top:25px;
	height: 40px;
	border-radius: 6px 6px 6px 6px;
	font-size: 16px;
	font-family: OpenSans;
	}
#login
	{
	margin-top:25px;
	height: 40px;
	}
#bkgnd
	{
	height: 600px;
	width: 100%;
	background-repeat: no-repeat;
	background-size:100%;
	position: fixed;
	}
#lower_box
	{
	bottom: 0;
	height: 220px;
	width: 100%;
	opacity: 0.7;
	background-color: #000000;
	position: fixed;
	}
#lower_title
	{
	color:#FFFFFF;
	text-align:center;
	font-family: 'Open Sans', sans-serif;
	font-size:25px;
	position:fixed;
	margin-left:25px;
	border-collapse: separate;
    border-spacing: 10px 50px;
	bottom: 35px;
	}
.footer {
    position: fixed;
    height: 20px;
    bottom: 0;
    width: 100%;
    background-color: #000000;
	color:#FFFFFF;
	text-align:center;
	font-family: 'Open Sans', sans-serif;
	font-size:12px;

}
table.ex2 {
    border-collapse: separate;
    border-spacing: 10px 50px;
}
.form-control{
/* background-image: url("C:\xampp\htdocs\img\login_Assets\user_icon_normal.png"); */
background-repeat: no-repeat;
/*padding-left:30px;*/
}
#username{
	margin-top:25px;
/*background-image: url("C:\xampp\htdocs\img\login_Assets\user_icon_normal.png");*/
background-repeat: no-repeat;
/*padding-left:30px;*/

	}
	/* enable absolute positioning */
.inner-addon {
  position: relative;
}

/* style glyph */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* #titleStyle{
            font-size: xx-large;
              padding-left: 150px;
              width: 60%;
              font-family: Sans-serif;
              color: #1b6bb1;
              font-weight: 700;
              position: relative;
              top: 18px;
} */

/* align glyph */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }


.fake-input { position: relative; width:240px; }
.fake-input input { border:none; background:#fff; display:block; width: 100%; box-sizing: border-box }
.fake-input img { position: absolute; top: 29px; right: 5px }

html {
	overflow-y: scroll;
	background-size:100% 100%;
}