<!--
*
* Copyright 2018 Infosys Ltd.
* Use of this source code is governed by MIT license that can be found in the LICENSE file or at
* https://opensource.org/licenses/MIT.”
*
-->
<div>
  <app-idpheader></app-idpheader>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="panel panel-default " style="margin-left:20px; width:98%">
  <div class="panel-heading">
    <div class="text-left">
      <b>{{'Environment Planning'|translate}}</b>
    </div>
  </div>

  <div class="panel-body">
    <div class="container-fluid">
      <div class="well" style="margin-top:40px;margin-left:10px;margin-right:10px;">
        <div class="text-center">
          <div class="row form-group">
            <div *ngIf="appNames!==undefined && appNames.length!==0">
              <div class="col-md-offset-1 col-md-3 text-right ">
                <label class="control-label ">{{'Application Name'|translate}}
                  <span class="star">*</span>
                </label>
              </div>
              <div class="col-md-5 field-tip">
                <select style="width:50%" [(ngModel)]="envPlannigData.applicationName" (change)="getEnvironmentNames();getReleaseNumber(envPlannigData.applicationName);envPlannigData.env='';envPlannigData.releaseNumber='';envSlots=[]"
                  class="form-control" [ngModelOptions]="{standalone: true}" required>
                  <option value="">--Select--</option>
                  <option *ngFor="let name of appNames" [ngValue]="name">{{name}}</option>
                </select>
                <span class="tip-content">{{'Name of the application under which Planning has to be done'|translate}}</span>
              </div>
            </div>
          </div>

          <div *ngIf="envPlannigData.envNames!==undefined && envPlannigData.envNames.length>0">
            <div class="row form-group">
              <div class="col-md-offset-1 col-md-3 text-right ">
                <label class="control-label ">{{'Environment Name'|translate}}
                  <span class="star">*</span>
                </label>
              </div>
              <div class="col-md-2 field-tip">
                <select [(ngModel)]="envPlannigData.env" class="form-control" [ngModelOptions]="{standalone: true}" (change)="envSlots=[];getEnvSlots();envPlannigData.releaseNumber=''"
                  required>
                  <option value="">--Select--</option>
                  <option *ngFor="let name of envPlannigData.envNames" [ngValue]="name">{{name}}</option>
                </select>
              </div>
            </div>
          </div>

          <div *ngIf="envSlots!==undefined && envSlots.length!==0">
            <div class="panel panel-default " style="margin-left:20px; width:98%">
              <div class="panel-heading">
                <div class="text-left">
                  <b>{{'Existing Slots for the Environment'|translate}}</b>
                </div>
              </div>

              <div class="panel-body">
                <div class="container-fluid">
                  <div class="row form-group">
                    <div class="text-center">
                      <form name="IDPDataSwitch.BuildTriggerParamForm1" id="paramForm" ngNativeValidate class="form-horizontal">
                        <div class="panel-group col-md-10 col-md-offset-1" role="tablist" aria-multiselectable="true">

                          <div class="panel panel-default" *ngFor="let interval of envSlots; let i =index" [attr.data-index]="i">
                            <div class="panel-heading" role="tab">
                              <h4 class="panel-title">
                                {{'Release Number: '|translate}}{{interval.releaseNumber}}
                              </h4>
                            </div>
                            <div id="{{'#'+(i+1)}}" class="panel-collapse collapse in" role="tabpanel">
                              <div class="panel-body">

                                <div class="col-md-1 field-tip" style="width: 6%;margin-top: 4px; margin-right:5px;">
                                  <span>Every</span>
                                </div>
                                <div class="col-md-2 field-tip">
                                  <select #typeVal="ngModel" [(ngModel)]="interval.type" id="type1{{i}}" name="type1+{{i}}" class="form-control" disabled required>
                                    <option value="">--Select--</option>
                                    <option *ngFor="let typeValue of intervalOptions" [ngValue]="typeValue">{{typeValue}}</option>
                                  </select>
                                </div>

                                <div *ngIf="interval.type!==undefined && interval.type!==''">

                                  <div class="col-md-2 text-left ">
                                    <label class="control-label ">{{'Start Time'|translate}}
                                      <span class="star">*</span>
                                    </label>
                                  </div>
                                  <div class="col-md-2">
                                    <input type="time" style="margin-left:-30px" atp-time-picker [(ngModel)]="interval.startTime" name="startTime1+{{i}}" id="startTime1{{i}}"
                                      onlyHour="false" disabled/>
                                  </div>



                                  <div class="col-md-1 col-md-offset-1" style="width: 1%;margin-top: 4px;" *ngIf="interval.type==='Month' || interval.type==='Week'">

                                    <span style="text-align:center; vertical-align:middle;margin-top:30px">on</span>
                                  </div>
                                  <div class="col-md-2" style="height:10px;" *ngIf="interval.type==='Week'">
                                    <select #weekVal="ngModel" [(ngModel)]="interval.week" name="week1+{{i}}" id="week1{{i}}" class="form-control" (change)="check(interval.week);"
                                      multiple disabled>
                                      <option *ngFor="let week of weeklyOptions" [ngValue]="week">{{week}}</option>
                                    </select>
                                  </div>

                                  <div class="col-md-2 " style="height:10px;" *ngIf="interval.type==='Month'">

                                    <select #typeDate="ngModel" [(ngModel)]="interval.date" name="date1+{{i}}" id="date1{{i}}" class="form-control" multiple
                                      disabled>
                                      <option *ngFor="let date of dateOptions" [ngValue]="date">{{date}}</option>
                                    </select>
                                  </div>

                                  <br>
                                  <br>
                                  <div class="col-md-2 col-md-offset-3 text-left" style="margin-left: 207px">
                                    <label class="control-label">{{'End Time'|translate}}
                                      <span class="star">*</span>
                                    </label>
                                  </div>
                                  <div class="col-md-2 text-left" style="margin-left: -5px">
                                    <input type="time" atp-time-picker [(ngModel)]="interval.endTime" id="endTime1{{i}}" name="endTime1+{{i}}" onlyHour="false"
                                      disabled/>
                                  </div>
                                </div>
                                <br>
                              </div>

                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div *ngIf="envPlannigData.applicationName!==undefined && envPlannigData.applicationName!=='' && envPlannigData.releaseNumbers.length!==0">
            <div class="row form-group">
              <div class="col-md-offset-1 col-md-3 text-right ">
                <label class="control-label ">{{'Release Number'|translate}}
                  <span class="star">*</span>
                </label>
              </div>

              <div class="col-md-5 field-tip">
                <select style="width:50%" [(ngModel)]="envPlannigData.releaseNumber" (change)="getpipelines();getExistingSlots();envData=[];"
                  class="form-control" [ngModelOptions]="{standalone: true}" required>
                  <option value="">--Select--</option>
                  <option *ngFor="let name of envPlannigData.releaseNumbers" [ngValue]="name">{{name}}</option>
                </select>
                <span class="tip-content">{{'Select the releasse number for the application'|translate}}</span>
              </div>
            </div>
            <!--This is for showing the pipeline for the relase.-->
            <div *ngIf="envPlannigData.releaseNumber!==undefined && envPlannigData.releaseNumber!==''">
              <div class="row form-group">
                <div class="col-md-offset-1 col-md-3 text-right">
                  <label class="control-label ">{{'Affected Pipeline/(s)'|translate}}

                  </label>
                </div>
                <div class="col-md-4 field-tip">
                  <select style="width:70%" class="form-control" multiple disabled>                   
                    <option *ngFor="let name of pipelineNames" [ngValue]="name">{{name}}</option>
                  </select>
                  <span class="tip-content">{{'Affected Pipeline/(s) from this plan'|translate}}</span>
                </div>

              </div>
            </div>
            <form name="IDPDataSwitch.BuildTriggerParamForm1" id="paramForm" ngNativeValidate class="form-horizontal" (ngSubmit)="updatePlan()">
              <div *ngIf="envPlannigData.env!==undefined && envPlannigData.env!=='' && envPlannigData.releaseNumber!==undefiend && envPlannigData.releaseNumber!==''">
                <div class="panel panel-default " style="margin-left:20px; width:98%">
                  <div class="panel-heading">
                    <div class="text-left">
                      <b>{{'Schedule the Environment'|translate}}</b>
                    </div>
                    <div class="text-right">
                      <b>{{'Server TimeZone: '|translate}}{{timeZone}}</b>
                    </div>
                  </div>

                  <div class="panel-body">
                    <div class="container-fluid">
                      <div class="row form-group">
                        <div class="text-center">

                          <div class="col-md-3 col-md-offset-9">
                            <button type="button" class="btn btn-info " id="btn_txt" (click)="addJob()" style="float:right;margin-top:10px">{{'Add Slot'|translate}}</button>
                          </div>

                          <div class="panel-group col-md-10 col-md-offset-1" role="tablist" aria-multiselectable="true">

                            <div class="panel panel-default" *ngFor="let interval of envData; let i =index" [attr.data-index]="i">
                              <div class="panel-heading" role="tab">
                                <h4 class="panel-title">
                                  <a data-toggle="collapse" href="{{i+1}}" data-target="{{'#'+(i+1)}}" href="{'#'+(i+1)}}" aria-expanded="true" style="cursor:pointer;font-size:14px !important;">
                                    Slot_{{(i+1)}}
                                  </a>
                                  <span style="float:right">
                                    <a (click)="deleteBuildInterval(i)" style="cursor:pointer;font-size:16px !important;color:black;">
                                      <span class="glyphicon glyphicon-remove"></span>
                                    </a>
                                  </span>
                                </h4>
                              </div>
                              <div id="{{'#'+(i+1)}}" class="panel-collapse collapse in" role="tabpanel">
                                <div class="panel-body">

                                  <div class="col-md-1 field-tip" style="width: 6%;margin-top: 4px; margin-right:5px;">
                                    <span>Every</span>
                                  </div>
                                  <div class="col-md-2 field-tip">
                                    <select #typeVal="ngModel" [(ngModel)]="interval.type" id="type{{i}}" name="type+{{i}}" class="form-control" required>
                                      <option value="">--Select--</option>
                                      <option *ngFor="let typeValue of intervalOptions" [ngValue]="typeValue">{{typeValue}}</option>

                                    </select>


                                    <div *ngIf="typeVal.errors && (typeVal.dirty || typeVal.touched)" class="alert alert-danger ">
                                      <div [hidden]="!typeVal.errors.required">
                                        This Field Name is required!
                                      </div>
                                    </div>
                                  </div>

                                  <div *ngIf="interval.type!==undefined && interval.type!==''">

                                    <div class="col-md-2 text-left ">
                                      <label class="control-label ">{{'Start Time'|translate}}
                                        <span class="star">*</span>
                                      </label>
                                    </div>
                                    <div class="col-md-2">
                                      <input type="time" style="margin-left:-30px" atp-time-picker [(ngModel)]="interval.startTime" name="startTime+{{i}}" id="startTime{{i}}"
                                        onlyHour="false" required />
                                    </div>
                                    <div class="col-md-1 col-md-offset-1" style="width: 1%;margin-top: 4px;" *ngIf="interval.type==='Month' || interval.type==='Week'">
                                      <span style="text-align:center; vertical-align:middle;margin-top:30px">on</span>
                                    </div>
                                    <div class="col-md-2" style="height:10px;" *ngIf="interval.type==='Week'">
                                      <select #weekVal="ngModel" [(ngModel)]="interval.week" name="week+{{i}}" id="week{{i}}" class="form-control" (change)="check(interval.week);"
                                        multiple required>
                                        <option *ngFor="let week of weeklyOptions" [ngValue]="week">{{week}}</option>
                                      </select>

                                      <div *ngIf="weekVal.errors && (weekVal.dirty || weekVal.touched)" class="alert alert-danger ">
                                        <div [hidden]="!weekVal.errors.required">
                                          This Field Name is required!
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-md-2 " style="height:10px;" *ngIf="interval.type==='Month'">
                                      <select #typeDate="ngModel" [(ngModel)]="interval.date" name="date+{{i}}" id="date{{i}}" class="form-control" multiple required>
                                        <option *ngFor="let date of dateOptions" [ngValue]="date">{{date}}</option>
                                      </select>
                                      <div *ngIf="typeDate.errors && (typeDate.dirty || typeDate.touched)" class="alert alert-danger ">
                                        <div [hidden]="!typeDate.errors.required">
                                          This Field Name is required!
                                        </div>
                                      </div>
                                    </div>

                                    <br>
                                    <br>
                                    <div class="col-md-2 col-md-offset-3 text-left" style="margin-left: 207px">
                                      <label class="control-label">{{'End Time'|translate}}
                                        <span class="star">*</span>
                                      </label>
                                    </div>
                                    <div class="col-md-2 text-left" style="margin-left: -5px">
                                      <input type="time" atp-time-picker [(ngModel)]="interval.endTime" id="endTime{{i}}" name="endTime+{{i}}" onlyHour="false"
                                        required/>
                                      <div *ngIf="interval.endTime!==undefined  && interval.endTime!=='' && interval.endTime<=interval.startTime" class="alert alert-danger ">
                                        <div [hidden]="!(interval.endTime<=interval.startTime)">
                                          End time has to be greater than start time!
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <br>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="envData!==undefined && envPlannigData.env!==undefined && envPlannigData.env!=='' && envPlannigData.releaseNumber!==undefiend && envPlannigData.releaseNumber!==''">
                <div class="row" style="margin-left:0px">
                  <button type="submit" class="btn btn-info btn-sm text-center" [disabled]="IdpdataService.loading" id="btn_txt">{{'Update Plan'|translate}}</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>