table thead tr th {
  border-color: #2885ae;
}

table thead {
  background-color: rgba(28, 93, 121, 0.13);
}

table tbody tr td {
  border-color: #2885ae;
}

#example {
  border-collapse: collapse;
}

.owl-inputtext {
  padding: 0.35em;
}

.owl-corner-all {
  border-radius: 4px;
}
