#Datafiles#
postgresdata
dsldata
jenkinsdata
datafiles/grafanadata/data/grafana.db
datafiles/dsldata/
### Maven Build ###
target

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

###CustomFiles###
sampleCSV.txt
dist
tmp
out-tsc

# dependencies
node_modules
.vscode
dist
static
/ui/src/main/angular4src/node_modules
/ui/src/main/angular4src/dist

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db