#Datafiles#
postgresdata
dsldata
jenkinsdata
datafiles/grafanadata/data/grafana.db
datafiles/dsldata/

#Maven Build#
target

#STS#
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

#CustomFiles#
sampleCSV.txt
dist
tmp
out-tsc

#Dependencies#
node_modules
.vscode
dist
static

#IDEs and Editors
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

#Misc#
.sass-cache
connect.lock
coverage
libpeerconnection.log
npm-debug.log
testem.log
typings

#e2e#
/e2e/*.js
/e2e/*.map

#System Files#
.DS_Store
Thumbs.db