// Variable overrides
$font-family-sans-serif: 'MyriadPro-Regular';
$input-color : #212529 !default;
$input-placeholder-color : #dee2e6 !default;

$blue:    #007cc3 !default;
$green:   #00b28f !default;
$yellow:  #f78e1e !default;
$red:     #f16c51 !default;
