<!--
*
* Copyright 2018 Infosys Ltd.
* Use of this source code is governed by MIT license that can be found in the LICENSE file or at
* https://opensource.org/licenses/MIT.”
*
-->

<form [parentFormConnect]="formName">
    <div>
        <div class="animate-switch-container panel panel-default">
            <div class="panel-heading" style="height:60px">
                <span>
                    <b>General {{'Module Details'|translate}}</b>
                </span>
                <span>
                    <button type="button" class="btn btn-info btn-md" (click)="addItem()" style="float:right" id="btn_txt">{{'Add Module'|translate}}</button>
                </span>
            </div>
            <div class="panel-body">
                <div class="panel-group" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default" *ngFor="let module of buildInfo.modules; let i =index" [attr.data-index]="i">
                        <div class="panel-heading" role="tab">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-target="{{'#'+(i+1)}}" aria-expanded="true" style="cursor:pointer;font-size:14px !important;">
                                    Module_{{(i+1)}}
                                </a>
                                <span style="float:right" *ngIf="buildInfo.modules.length !== 1">
                                    <a (click)="deleteItem(i)" style="cursor:pointer;font-size:14px !important;">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </a>
                                </span>
                            </h4>
                        </div>
                        <div id="{{i+1}}" class="panel-collapse collapse in" role="tabpanel">
                            <div class="panel-body">
                                <div class="row paddingall form-group">
                                    <div class="row form-group">
                                        <div class="col-md-3 text-right">
                                            <label class="control-label">
                                                {{'Module Name'|translate}}
                                                <span class="star">*</span>
                                            </label>
                                        </div>
                                        <div class="col-md-9 field-tip  text-left">
                                            <input id="bdbomntb{{i}}" class="form-control txtbox textFieldWidth" name="moduleName{{i}}" #moduleName="ngModel" pattern="^[_a-zA-Z0-9.-]+"
                                                type="text" [(ngModel)]="module.moduleName" (blur)="checkModuleName(i)" minlength="3"
                                                required>
                                            <div *ngIf="moduleName.errors && (moduleName.dirty || moduleName.touched)" class="alert alert-danger ">
                                                <div [hidden]="!moduleName.errors.required">
                                                    This Field Name is required!
                                                </div>
                                                <div [hidden]="!moduleName.errors.minlength">
                                                    This Field Name must be at least 3 characters long.
                                                </div>
                                                <div [hidden]="!moduleName.errors.pattern">
                                                    This Field Name can only consist of alphabetical, number, dot and underscore
                                                </div>
                                            </div>

                                            <span class="tip-content">{{'Name of module'|translate}}</span>
                                            <div class="text-danger" *ngIf="nameErrorMessage">{{nameErrorMessage}}</div>
                                        </div>
                                    </div>
                                    <div class="animate-switch">
                                        <div class="row form-group">
                                            <span>
                                                <label class=" col-md-3 text-right control-label">
                                                    {{'Script type'|translate}}
                                                    <span style="color: red">*</span>
                                                </label>
                                            </span>
                                            <span class="col-md-9 text-left">
                                                <select id="bdbostdd{{i}}" class="form-control" [(ngModel)]="module.runScript.scriptType" name="'scriptType'+{{i}}" style="width:50%"
                                                    (change)="changeRunScript(i)" required>
                                                    <option value="">--Select--</option>
                                                    <option *ngFor="let ScriptList of ScriptList" value="{{ScriptList.value}}">{{ScriptList.name}}</option>
                                                </select>
                                            </span>
                                        </div>


                                        <div [ngSwitch]="module.runScript.scriptType">
                                            <!-- General Ant Script End -->
                                            <div *ngSwitchCase="'ant'">
                                                <div class="row form-group">
                                                    <label class=" col-md-3 text-right control-label">
                                                        {{'Path of Script File'|translate}}
                                                        <span style="color: red">*</span>
                                                    </label>

                                                    <div class="col-md-9 field-tip text-left">
                                                        <input id="bdbopfatb{{i}}" name="pathFileAnt{{i}}" #pathFileAnt="ngModel" class="form-control txtbox " [(ngModel)]="module.runScript.scriptFilePath"
                                                            type="text" pattern="[_a-zA-Z_.0-9.\\ /-]+.xml" placeholder="build.xml"
                                                            minlength='3' maxlength="150" required/>
                                                        <span class="tip-content" style="z-index: 1">
                                                            {{'Path of the script file relative to the checkout path or Script, which needs to be executed before build'|translate}}
                                                        </span>
                                                        <div *ngIf="pathFileAnt.errors && (pathFileAnt.dirty || pathFileAnt.touched)" class="alert alert-danger ">
                                                            <div [hidden]="!pathFileAnt.errors.required">
                                                                This Field is required!
                                                            </div>
                                                            <div [hidden]="!pathFileAnt.errors.minlength">
                                                                This Field must be at least 3 characters long.
                                                            </div>
                                                            <div [hidden]="!pathFileAnt.errors.maxlength">
                                                                This Field cannot be more than 150 characters long.
                                                            </div>
                                                            <div [hidden]="!pathFileAnt.errors.pattern">
                                                                This Field can only consist of alphabets, numbers, hyphen, dot and underscore and should end in ".xml"
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row form-group">
                                                    <div>
                                                        <label class=" col-md-3 text-right control-label">{{'Targets'|translate}}
                                                            <span style="color: red">*</span>
                                                        </label>
                                                    </div>
                                                    <div class="col-md-9 field-tip text-left">
                                                        <input id="bdbottb{{i}}" name="targets{{i}}" #targets="ngModel" class="form-control txtbox " [(ngModel)]="module.runScript.targets"
                                                            type="text" placeholder="{{'Targets'|translate}}1{{'Targets'|translate}}2"
                                                            minlength='1' maxlength="150" required>
                                                        <span class="tip-content">{{'ANT Targets separated by spaces'|translate}}</span>
                                                        <div *ngIf="targets.errors && (targets.dirty || targets.touched)" class="alert alert-danger ">
                                                            <div [hidden]="!targets.errors.required">
                                                                This Field is required!
                                                            </div>
                                                            <div [hidden]="!targets.errors.minlength">
                                                                This Field must be at least 3 characters long.
                                                            </div>
                                                            <div [hidden]="!targets.errors.maxlength">
                                                                This Field cannot be more than 150 characters long.
                                                            </div>
                                                            <div [hidden]="!targets.errors.pattern">
                                                                This Field can only consist of alphabets, number, dot and underscore
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- General Ant Script End -->

                                            <!-- General Shell Script Start-->
                                            <div *ngSwitchCase="'shellScript'" class="row form-group">
                                                <div>
                                                    <label class=" col-md-3 text-right control-label">
                                                        Path of Script File
                                                        <span style="color: red">*</span>
                                                    </label>
                                                </div>
                                                <div class="col-md-9 field-tip text-left">
                                                    <textarea id="bdbofpta{{i}}" name="filePath{{i}}" #filePath="ngModel" class="form-control " [(ngModel)]="module.runScript.scriptFilePath"
                                                        type="text" placeholder="sc.sh" minlength="1" maxlength="500" required></textarea>
                                                    <span class="tip-content" style="z-index: 1">
                                                        {{'Path of the script file relative to the checkout path or Script, which needs to be executed before build'|translate}}
                                                    </span>
                                                    <div *ngIf="filePath.errors && (filePath.dirty || filePath.touched)" class="alert alert-danger ">
                                                        <div [hidden]="!filePath.errors.required">
                                                            This Field is required!
                                                        </div>
                                                        <div [hidden]="!filePath.errors.minlength">
                                                            This Field must be at least 1 characters long.
                                                        </div>
                                                        <div [hidden]="!filePath.errors.maxlength">
                                                            This Field cannot be more than 150 characters long.
                                                        </div>
                                                        <div [hidden]="!filePath.errors.pattern">
                                                            This Field can only consist of alphabets, number, hyphen, dot and underscore and should end in ".sh"
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- General Shell Script End -->

                                            <!-- General Batch Script Start -->
                                            <div class="row form-group" *ngSwitchCase="'batchScript'">
                                                <div>
                                                    <label class=" col-md-3 text-right control-label">
                                                        {{'Path of Script File'|translate}}
                                                        <span style="color: red">*</span>
                                                    </label>
                                                </div>
                                                <div class="col-md-9 field-tip text-left">
                                                    <textarea id="bdbobfta{{i}}" name="batchFile{{i}}" #batchFile="ngModel" class="form-control " [(ngModel)]="module.runScript.scriptFilePath"
                                                        type="text" placeholder="build.bat" minlength="1" maxlength="500" required></textarea>
                                                    <span class="tip-content" style="z-index: 1">
                                                        {{'Path of the script file relative to the checkout path or Script, which needs to be executed before build'|translate}}
                                                    </span>
                                                    <div *ngIf="batchFile.errors && (batchFile.dirty || batchFile.touched)" class="alert alert-danger ">
                                                        <div [hidden]="!batchFile.errors.required">
                                                            This Field is required!
                                                        </div>
                                                        <div [hidden]="!batchFile.errors.minlength">
                                                            This Field must be at least 1 characters long.
                                                        </div>
                                                        <div [hidden]="!batchFile.errors.maxlength">
                                                            This Field cannot be more than 150 characters long.
                                                        </div>
                                                        <div [hidden]="!batchFile.errors.pattern">
                                                            This Field can only consist of alphabets, number, hyphen, dot and underscore and should end in ".bat"
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- General Batch Script End -->

                                            <!-- General Powershell Script Start -->
                                            <div class="row form-group" *ngSwitchCase="'powerShell'">
                                                <div>
                                                    <label class=" col-md-3 text-right control-label">{{'Path of Script File'|translate}}
                                                        <span style="color: red">*</span>
                                                    </label>
                                                </div>
                                                <div class="col-md-9 field-tip text-left">
                                                    <textarea id="bdbopfta{{i}}" name="powerFile{{i}}" #powerFile="ngModel" class="form-control " [(ngModel)]="module.runScript.scriptFilePath"
                                                        type="text" placeholder="deploy.psm1" minlength="1" maxlength="500" required></textarea>
                                                    <span class="tip-content" style="z-index: 1">{{'Path of the script file relative to the checkout path or Script, which
                                                        needs to be executed before build'|translate}}
                                                    </span>
                                                    <div *ngIf="powerFile.errors && (powerFile.dirty || powerFile.touched)" class="alert alert-danger ">
                                                        <div [hidden]="!powerFile.errors.required">
                                                            This Field is required!
                                                        </div>
                                                        <div [hidden]="!powerFile.errors.minlength">
                                                            This Field must be at least 1 characters long.
                                                        </div>
                                                        <div [hidden]="!powerFile.errors.maxlength">
                                                            This Field cannot be more than 150 characters long.
                                                        </div>
                                                        <div [hidden]="!powerFile.errors.pattern">
                                                            This Field can only consist of alphabets, number, hyphen, dot and underscore and should end in ".psm1"or"ps1"or"ps2"
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- General Powershell Script End -->
                                        </div>
                                    </div>
                                </div>

                                <div class="row form-group chkright" style="padding-left: 20px;">
                                    <div class="col-md-12">
                                        <label class="checkbox-inline">
                                            <input id="bdboacbcb{{i}}" type="checkbox" name="approvalCheckBox{{i}}" [checked]="tempObject.modules[i].approvalCheckBox==='on'"
                                                (change)="tempObject.modules[i].approvalCheckBox=$event.target.checked ?'on':clearApproval(i)"
                                                id="oss" style="width: 15px; height: 15px" />{{'Wait for approval after build'|translate}}
                                        </label>
                                    </div>
                                </div>
                                <div *ngIf="tempObject.modules[i].approvalCheckBox === 'on'">
                                    <div class="row form-group">
                                        <div class="col-md-3 text-right">
                                            <label class="control-label">
                                                {{'Auto Timeout (In Minutes)'|translate}}
                                                <span class="star">*</span>
                                            </label>
                                        </div>
                                        <div class="col-md-9 field-tip  text-left">
                                            <input id="bdbototb{{i}}" class="form-control txtbox textFieldWidth" name="timeout{{i}}" #timeout="ngModel" type="number"
                                                placeholder="10" [(ngModel)]="module.timeout" required>
                                            <div *ngIf="timeout.errors && (timeout.dirty || timeout.touched)" class="alert alert-danger ">
                                                <div [hidden]="!timeout.errors.required">
                                                    This Field is required!
                                                </div>
                                            </div>
                                            <div class="text-danger" *ngIf="nameErrorMessage">{{nameErrorMessage}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="tempObject.modules[i].approvalCheckBox === 'on'">
                                    <div class="row form-group chkright" style="padding-left: 20px;">
                                        <div class="col-md-12">
                                            <label class="checkbox-inline">
                                                <input id="bdborsacbcb{{i}}" type="checkbox" name="runScriptAbortCheckBox{{i}}" [checked]="tempObject.modules[i].runScriptAbortCheckBox==='on'"
                                                    (change)="tempObject.modules[i].runScriptAbortCheckBox=$event.target.checked ?'on':clearRunScriptOnAbort(i)"
                                                    id="oss" style="width: 15px; height: 15px" />{{'Run Scripts on Abort'|translate}}
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div *ngIf="tempObject.modules[i].runScriptAbortCheckBox === 'on' && tempObject.modules[i].approvalCheckBox === 'on'">
                                    <div class="animate-switch">
                                        <div class="row form-group">
                                            <span>
                                                <label class=" col-md-3 text-right control-label">
                                                    {{'Script type'|translate}}
                                                    <span style="color: red">*</span>
                                                </label>
                                            </span>
                                            <span class="col-md-9 text-left">
                                                <select id="bdbostadd{{i}}" class="form-control" [(ngModel)]="module.abortScript.scriptType" name="'scriptTypeAbort'+{{i}}"
                                                    style="width:50%" (change)="changeAbortRunScript(i)" required>
                                                    <option value="">--Select--</option>
                                                    <option *ngFor="let ScriptList of ScriptList" value="{{ScriptList.value}}">{{ScriptList.name}}</option>
                                                </select>
                                            </span>
                                        </div>

                                        <div [ngSwitch]="module.abortScript.scriptType">
                                            <!-- General Ant Script Config Start -->
                                            <div *ngSwitchCase="'ant'">
                                                <div class="row form-group">
                                                    <label class=" col-md-3 text-right control-label">
                                                        {{'Path of Script File'|translate}}
                                                        <span style="color: red">*</span>
                                                    </label>
                                                    <div class="col-md-9 field-tip text-left">
                                                        <input id="bdbopfaatb{{i}}" name="pathFileAntAbort{{i}}" #pathFileAntAbort="ngModel" class="form-control txtbox " [(ngModel)]="module.abortScript.scriptFilePath"
                                                            type="text" pattern="[_a-zA-Z_.0-9.\\ /-]+.xml" placeholder="build.xml"
                                                            minlength='3' maxlength="150" required/>
                                                        <span class="tip-content" style="z-index: 1">
                                                            {{'Path of the script file relative to the checkout path or Script, which needs to be executed before build'|translate}}
                                                        </span>
                                                        <div *ngIf="pathFileAntAbort.errors && (pathFileAntAbort.dirty || pathFileAntAbort.touched)" class="alert alert-danger ">
                                                            <div [hidden]="!pathFileAntAbort.errors.required">
                                                                This Field is required!
                                                            </div>
                                                            <div [hidden]="!pathFileAntAbort.errors.minlength">
                                                                This Field must be at least 3 characters long.
                                                            </div>
                                                            <div [hidden]="!pathFileAntAbort.errors.maxlength">
                                                                This Field cannot be more than 150 characters long.
                                                            </div>
                                                            <div [hidden]="!pathFileAntAbort.errors.pattern">
                                                                This Field can only consist of alphabets, numbers, hyphen, dot and underscore and should end in ".xml"
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row form-group">
                                                    <div>
                                                        <label class=" col-md-3 text-right control-label">{{'Targets'|translate}}
                                                            <span style="color: red">*</span>
                                                        </label>
                                                    </div>
                                                    <div class="col-md-9 field-tip text-left">
                                                        <input id="bdbotatb{{i}}" name="targetsAbort{{i}}" #targetsAbort="ngModel" class="form-control txtbox " [(ngModel)]="module.abortScript.targets"
                                                            type="text" placeholder="{{'Targets'|translate}}1{{'Targets'|translate}}2"
                                                            minlength='1' maxlength="150" required>
                                                        <span class="tip-content">{{'ANT Targets separated by spaces'|translate}}</span>
                                                        <div *ngIf="targetsAbort.errors && (targetsAbort.dirty || targetsAbort.touched)" class="alert alert-danger ">
                                                            <div [hidden]="!targetsAbort.errors.required">
                                                                This Field is required!
                                                            </div>
                                                            <div [hidden]="!targetsAbort.errors.minlength">
                                                                This Field must be at least 3 characters long.
                                                            </div>
                                                            <div [hidden]="!targetsAbort.errors.maxlength">
                                                                This Field cannot be more than 150 characters long.
                                                            </div>
                                                            <div [hidden]="!targetsAbort.errors.pattern">
                                                                This Field can only consist of alphabets, number, dot and underscore
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- General Ant Script End -->

                                            <!-- General Shell Script End -->
                                            <div *ngSwitchCase="'shellScript'" class="row form-group">
                                                <div>
                                                    <label class=" col-md-3 text-right control-label">
                                                        Path of Script File
                                                        <span style="color: red">*</span>
                                                    </label>
                                                </div>
                                                <div class="col-md-9 field-tip text-left">
                                                    <textarea id="bdbofpata{{i}}" name="filePathAbort{{i}}" #filePathAbort="ngModel" class="form-control " [(ngModel)]="module.abortScript.scriptFilePath"
                                                        type="text" placeholder="sc.sh" minlength="1" maxlength="500" required></textarea>
                                                    <span class="tip-content" style="z-index: 1">
                                                        {{'Path of the script file relative to the checkout path or Script, which needs to be executed before build'|translate}}
                                                    </span>
                                                    <div *ngIf="filePathAbort.errors && (filePathAbort.dirty || filePathAbort.touched)" class="alert alert-danger ">
                                                        <div [hidden]="!filePathAbort.errors.required">
                                                            This Field is required!
                                                        </div>
                                                        <div [hidden]="!filePathAbort.errors.minlength">
                                                            This Field must be at least 1 characters long.
                                                        </div>
                                                        <div [hidden]="!filePathAbort.errors.maxlength">
                                                            This Field cannot be more than 150 characters long.
                                                        </div>
                                                        <div [hidden]="!filePathAbort.errors.pattern">
                                                            This Field can only consist of alphabets, number, hyphen, dot and underscore and should end in ".sh"
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- General Shell Script End -->

                                            <!-- General Batch Script Start -->
                                            <div class="row form-group" *ngSwitchCase="'batchScript'">
                                                <div>
                                                    <label class=" col-md-3 text-right control-label">
                                                        {{'Path of Script File'|translate}}
                                                        <span style="color: red">*</span>
                                                    </label>
                                                </div>
                                                <div class="col-md-9 field-tip text-left">
                                                    <textarea id="bdbobfata{{i}}" name="batchFileAbort{{i}}" #batchFileAbort="ngModel" class="form-control " [(ngModel)]="module.abortScript.scriptFilePath"
                                                        type="text" placeholder="build.bat" minlength="1" maxlength="500" required></textarea>
                                                    <span class="tip-content" style="z-index: 1">
                                                        {{'Path of the script file relative to the checkout path or Script, which needs to be executed before build'|translate}}
                                                    </span>
                                                    <div *ngIf="batchFileAbort.errors && (batchFileAbort.dirty || batchFileAbort.touched)" class="alert alert-danger ">
                                                        <div [hidden]="!batchFileAbort.errors.required">
                                                            This Field is required!
                                                        </div>
                                                        <div [hidden]="!batchFileAbort.errors.minlength">
                                                            This Field must be at least 1 characters long.
                                                        </div>
                                                        <div [hidden]="!batchFileAbort.errors.maxlength">
                                                            This Field cannot be more than 150 characters long.
                                                        </div>
                                                        <div [hidden]="!batchFileAbort.errors.pattern">
                                                            This Field can only consist of alphabets, number, hyphen, dot and underscore and should end in ".bat"
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- General Batch Script End -->

                                            <!-- General Powershell Script End -->
                                            <div class="row form-group" *ngSwitchCase="'powerShell'">
                                                <div>
                                                    <label class=" col-md-3 text-right control-label">{{'Path of Script File'|translate}}
                                                        <span style="color: red">*</span>
                                                    </label>
                                                </div>
                                                <div class="col-md-9 field-tip text-left">
                                                    <textarea id="bdbopfata{{i}}" name="powerFileAbort{{i}}" #powerFileAbort="ngModel" class="form-control " [(ngModel)]="module.abortScript.scriptFilePath"
                                                        type="text" placeholder="deploy.psm1" minlength="1" maxlength="500" required></textarea>
                                                    <span class="tip-content" style="z-index: 1">{{'Path of the script file relative to the checkout path or Script, which
                                                        needs to be executed before build'|translate}}
                                                    </span>
                                                    <div *ngIf="powerFileAbort.errors && (powerFileAbort.dirty || powerFileAbort.touched)" class="alert alert-danger ">
                                                        <div [hidden]="!powerFileAbort.errors.required">
                                                            This Field is required!
                                                        </div>
                                                        <div [hidden]="!powerFileAbort.errors.minlength">
                                                            This Field must be at least 1 characters long.
                                                        </div>
                                                        <div [hidden]="!powerFileAbort.errors.maxlength">
                                                            This Field cannot be more than 150 characters long.
                                                        </div>
                                                        <div [hidden]="!powerFileAbort.errors.pattern">
                                                            This Field can only consist of alphabets, number, hyphen, dot and underscore and should end in ".psm1"or"ps1"or"ps2"
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- General Powershell Script End -->
                                        </div>
                                    </div>                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>