<form name="basicInfoForm"  #basicInfoForm="ngForm" (ngSubmit)="submit()" ngNativeValidate>
<div *ngIf="!Idpdata.releaseAddSuccess">
<div class="" style="margin-top:20px">
  <div class="form-row form-group" >
    <div class=" col-md-3  ">
      <label class="col-form-label ">{{'Pipeline List'|translate}}
        <span class="star">*</span>
      </label>
    </div>
    <div class="col-md-9 field-tip">
      <select id="rearslpl" style="width:50%" [(ngModel)]="pipelineList" class="form-control"
       [ngModelOptions]="{standalone: true}" multiple required >
		    <option *ngFor="let name of Idpdata.pipelineNames" [ngValue]="name">{{name}}</option>
        </select>
        
      <span class="tip-content" style="right: 160px; zoom: 97%;">{{'Select one or more pipeline(s) by pressing \'ctrl\' button'|translate}}</span>
    </div>

  </div>

  <div class="form-row form-group">
    <div class="col-md-3 ">
      <label> {{'Release Number'|translate}} <span class="star">*</span> </label>
    </div>
    <div class="col-md-6 field-tip">
        <input  id="reartfrn" name="releaseNumber" #releaseNumber="ngModel" type="text" class="form-control" placeholder="1.0.0" [ngModelOptions]="{standalone: true}"
        [(ngModel)]="releaseManagerData.releaseNumber" pattern="^([0-9a-zA-Z])+([._-]{0,1}[0-9a-zA-Z]+)+$"  (blur)="checkReleaseNo()" (focus)="invalidFalse()" style="width:70%" maxlength="10" required />
		  <div *ngIf="releaseNumber.errors && (releaseNumber.dirty || releaseNumber.touched)" class="alert alert-danger ">
                          <div [hidden]="!releaseNumber.errors.required">
                            This Field Name is required!
                          </div>
                         
                          <div [hidden]="!releaseNumber.errors.maxlength">
                            This Field Name cannot be more than 10 characters long.
                          </div>


                          <div [hidden]="!releaseNumber.errors.pattern">
                            This Field Name can only consist of alphanumeric,hyphen,underscore and dot.
                          </div>
                         
                        </div>
	   <span class="tip-content" style="right: 72px; zoom: 97%; margin-top: 5px;">{{'Enter release number'|translate}}</span>
        
		<div *ngIf="invalidReleaseNo" class="alert alert-danger">Release number already present in the following pipelines: {{invalidReleaseNoPipeline}}.</div>
    </div>
  </div>
  <div class="form-row form-group">
    <div class="col-md-3 ">
      <label> {{'Parent Release Name'|translate}} <span class="star">*</span> </label>
    </div>
    <div class="col-md-6 field-tip">
        <input id="reartfprn" name="releaseName" #releaseName="ngModel" type="text" class="form-control" placeholder="Aug18" [ngModelOptions]="{standalone: true}"
        [(ngModel)]="releaseManagerData.vstsReleaseName" style="width:70%" maxlength="10" required />
         <div *ngIf="releaseName.errors && (releaseName.dirty || releaseName.touched)" class="alert alert-danger ">
                          <div [hidden]="!releaseName.errors.required">
                            This Field Name is required!
                          </div>
                         
                          <div [hidden]="!releaseName.errors.maxlength">
                            This Field Name cannot be more than 10 characters long.
                          </div>
                         
                        </div>
        <span class="tip-content" style="right: 70px; zoom: 97%;">{{'Enter Parent release name'|translate}}</span>
    </div>
  </div>
 
  <div class="form-row form-group">
    <div class="col-md-3 ">
      <label> {{'Expected Start Date'|translate}} <span class="star">*</span> </label>
    </div>
    <div class="col-md-6 field-tip" >
      <div style="width:160px">
        <owl-date-time id="rearclesd" [(ngModel)]="releaseManagerData.expectedStartDate" [ngModelOptions]="{standalone: true}" [type]="'calendar'"
        [dataType]="'string'"
        [autoClose]=true [dateFormat]="'YYYY-MM-DD'" [required]=true (onClear)="clearStart()" [placeHolder]="'yyyy-mm-dd'"></owl-date-time>

      </div>

    

    <span class="tip-content" style="right: 83px; zoom: 97%;">{{'Select expected start date for this release'|translate}}</span>

    </div>
    
  </div>

  <div class="form-row form-group">
    <div class="col-md-3 ">
      <label> {{'Expected End Date'|translate}} <span class="star">*</span> </label>
    </div>
    <div class="col-md-6 field-tip">
      <div style="width:160px">
        <owl-date-time id="rearcleed" [(ngModel)]="releaseManagerData.expectedEndDate" [ngModelOptions]="{standalone: true}" [type]="'calendar'"
        [min]="releaseManagerData.expectedStartDate" [dataType]="'string'"
        [autoClose]=true [dateFormat]="'YYYY-MM-DD'" [required]=true (onClear)="clearEnd()" [placeHolder]="'yyyy-mm-dd'"></owl-date-time>

      </div>
     
      <span class="tip-content" style="right: 78px; zoom: 97%;">{{'Select expected end date for this release'|translate}}</span>
       
    </div>

  </div>


  <div class="form-row form-group">
    <div class="col-md-3  field-tip">
      <label> {{'Remarks for Release'|translate}} </label>
    </div>
    <div id="reartarr" class="col-md-6 field-tip ">
        <textarea type="textbox" class="form-control" placeholder="Remarks for Release" [ngModelOptions]="{standalone: true}"
        [(ngModel)]="releaseManagerData.remarks" style="width:70%"  ></textarea>
       
        <span class="tip-content" style="right: 70px; zoom: 97%; margin-top: 12px;">{{'Remarks/Comments'|translate}}</span>
    </div>
  </div>

  <div class="form-row form-group">
    <div class="col-md-3 ">
      <label> {{'Send Notification'|translate}} </label>
    </div>
    <div class="col-md-4 row text-left">
      <label class="col-md-6 text-left col-form-label">
        {{'Application Team '|translate}}
      </label>
      <div class="text-left field-tip textFieldContainer" style="margin-left: 18%;">
        <input id="rearcbat" type="checkbox" [checked]="releaseManagerData.additionalMailRecipients.applicationTeam==='on'"
        (change)="releaseManagerData.additionalMailRecipients.applicationTeam=$event.target.checked ? 'on':'off'"
        class="Mail_Recipients_style">

      </div>
    </div>
    <div class="col-md-5"></div>
    <div class="row"></div>
    <div class="col-md-6 row text-left" style="margin-left: 23%;">
        <label class=" col-md-5  text-left col-form-label">{{'Additional  Email Ids'|translate}}</label>
      <div id="reartfaei"class="col-md-7 text-left field-tip">
        <input type="text" class="form-control" placeholder="William_Jones,Jerry_Gonzalez" [ngModelOptions]="{standalone: true}"
        [(ngModel)]="releaseManagerData.additionalMailRecipients.emailIds" />
        <span class="tip-content" style="right: -49px; zoom: 98%;">{{'Additional Emailds on which emails will be sent'|translate}}</span>
        


      </div>
    </div>
  </div>

  <div class="row offset-md-3" >
    <button type="submit" [disabled]="Idpdata.loading" class="btn btn-info btn-sm" id="btn_txt">{{'Add Release'|translate}}</button>
  </div>



</div>
</div>
<div class="alert alert-success" *ngIf="Idpdata.releaseAddSuccess">
Release added successfully!!
</div>
</form>

<script>

</script>
