<!--
*
* Copyright 2018 Infosys Ltd.
* Use of this source code is governed by MIT license that can be found in the LICENSE file or at
* https://opensource.org/licenses/MIT.”
*
-->

<div class="panel panel-default " style="margin-left:20px; width:98%">
  <div class="panel-heading">
    <div class="text-left">
      <b>{{'Release Management Portal'|translate}}</b>
    </div>
  </div>

  <div class="panel-body">
    <div class="container-fluid">
      <div class="well" style="margin-top:40px;margin-left:10px;margin-right:10px;">
        <div class="text-center">
          <div class="row form-group">
            <div class="col-md-offset-1 col-md-3 text-right ">
              <label class="control-label ">{{'Application Name'|translate}}
                <span class="star">*</span>
              </label>
            </div>
            <div class="col-md-8 field-tip">
              <select style="width:50%" [(ngModel)]="releaseManagerData.applicationName" (change)="getPipelineNames()" class="form-control"
                id="reandd" [ngModelOptions]="{standalone: true}" required>
                <option value="">--Select--</option>
                <option *ngFor="let name of appNames" [ngValue]="name">{{name}}</option>
              </select>
              <span class="tip-content">{{'Name of the application under which pipeline has to be selected'|translate}}</span>
            </div>

          </div>
        </div>

        <div class="" *ngIf="releaseManagerData.applicationName!==''">

          <ul class="nav nav-tabs">
            <li [ngClass]="activeRelease?'active':''">
              <a id="reacrstb" href="#menu1" data-toggle="tab" (click)="updateSuccessFalse() ">Active Release</a>
            </li>
            <li [ngClass]="addRelease?'active':''">
              <a id="readrstb" href="#menu2" data-toggle="tab" (click)="addSuccessFalse()">Add Release</a>
            </li>
            <li [ngClass]="releaseHistory?'active':''">
              <a id="rehsrstb" href="#menu3  " data-toggle="tab" (click)="pipelinesEmpty()">Release History</a>
            </li>
          </ul>

          <div class="tab-content">
            <div id="menu1" class="tab-pane fade in active">
              <div *ngIf="!Idpdata.noPipelines">
                <app-active-release></app-active-release>
              </div>
              <div class="alert alert-danger" *ngIf="Idpdata.noPipelines">
                No Pipelines for this Application
              </div>
            </div>
            <div id="menu2" class="tab-pane fade ">
              <div *ngIf="!Idpdata.noPipelines">
                <app-add-release></app-add-release>
              </div>
              <div class="alert alert-danger" *ngIf="Idpdata.noPipelines">
                No Pipelines for this Application
              </div>
            </div>
            <div id="menu3" class="tab-pane fade ">
              <div *ngIf="!Idpdata.noPipelines">
                <app-release-history></app-release-history>
              </div>
              <div class="alert alert-danger" *ngIf="Idpdata.noPipelines">
                No Pipelines for this Application
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>

<script type="text/javascript">
  $(".form_datetime").datetimepicker({
    format: "dd MM yyyy - hh:ii"
  });
</script>