<!--
*
* Copyright 2018 Infosys Ltd.
* Use of this source code is governed by MIT license that can be found in the LICENSE file or at
* https://opensource.org/licenses/MIT.”
*
-->

<div class="card " style="margin-left:20px; width:98%">
  <div class="card-header">
    <div class="text-left">
      <b>{{'Release Management Portal'|translate}}</b>
    </div>
  </div>

  <div class="card-body">
    <div class="container-fluid">
      <div class="well" style="margin-left:10px;margin-right:10px;">
        <div class="">
          <div class="form-group">
            <div class="col-md-offset-1 col-md-3  ">
              <label class="control-label ">{{'Application Name'|translate}}
                <span class="star">*</span>
              </label>
            </div>
            <div class="col-md-8 field-tip choose-app-name">
              <select style="width:50%" [(ngModel)]="releaseManagerData.applicationName" (change)="getPipelineNames()" class="form-control"
                id="reandd" [ngModelOptions]="{standalone: true}" required>
                <option value="">--Select--</option>
                <option *ngFor="let name of appNames" [ngValue]="name">{{name}}</option>
              </select>
              <span class="tip-content">{{'Name of the application under which pipeline has to be selected'|translate}}</span>
            </div>

          </div>
        </div>

        <div class="release-tabs" *ngIf="releaseManagerData.applicationName!==''">

          <tabset #releaseTabs>
            <tab heading="Active Release" class="item">
              <div id="menu1">
                <div *ngIf="!Idpdata.noPipelines">
                  <app-active-release></app-active-release>
                </div>
                <div class="alert alert-danger" *ngIf="Idpdata.noPipelines">
                  No Pipelines for this Application
                </div>
              </div>
            </tab>
            <tab heading="Add Release" class="item">
              <div id="menu2" >
                <div *ngIf="!Idpdata.noPipelines">
                  <app-add-release></app-add-release>
                </div>
                <div class="alert alert-danger" *ngIf="Idpdata.noPipelines">
                  No Pipelines for this Application
                </div>
              </div>
            </tab>
            <tab heading="Release History" class="item">
              <div id="menu3">
                <div *ngIf="!Idpdata.noPipelines">
                  <app-release-history></app-release-history>
                </div>
                <div class="alert alert-danger" *ngIf="Idpdata.noPipelines">
                  No Pipelines for this Application
                </div>
              </div>
            </tab>
          </tabset>
        </div>

      </div>
    </div>

  </div>
</div>

