<div>
	<button #modalforAlert [hidden]="true" type="button" data-toggle="modal" data-target="#TechSelectTest">Alert Modal</button>
	<!-- Modal -->
	<div id="TechSelectTest" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="TechSelectTest" (click)="closeModal('TechSelectTest')">&times;</button>
					<h4 class="modal-title">Alert</h4>
				</div>
				<div class="modal-body">
					<p>Select atleast one of the checkbox options!
					</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="TechSelectTest" (click)="closeModal('TechSelectTest')">OK</button>
				</div>
			</div>

		</div>
	</div>

	<button #modalforReqSCMAlert [hidden]="true" type="button" data-toggle="modal" data-target="#SCMSelect">Alert Modal</button>
	<!-- Modal -->
	<div id="SCMSelect" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="SCMSelect" (click)="closeModal('SCMSelect')">&times;</button>
					<h4 class="modal-title">Alert</h4>
				</div>
				<div class="modal-body">
					<p>Please Select the SCM Branch!
					</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="SCMSelect" (click)="closeModal('SCMSelect')">OK</button>
				</div>
			</div>

		</div>
	</div>

	<button #modalforSave [hidden]="true" type="button" data-toggle="modal" data-target="#saveAlertForthis">Alert Modal</button>
	<div id="saveAlertForthis" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog">
		<div class="modal-dialog modal-sm">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="saveAlertForthis" (click)="closeModal('saveAlertForthis')">&times;</button>
					<h4 class="modal-title">Alert</h4>
				</div>
				<div class="modal-body">
					<p>Are you sure you want to save the details?
					</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="saveAlertForthis" (click)="(idpdataService.createWorkflowSequenceflag && workflowSequenceIndexI!==undefined)?saveWorkflowData():saveData()">OK</button>
					<button type="button" class="btn btn-default" data-dismiss="saveAlertForthis" (click)="closeModal('saveAlertForthis')">Close</button>
				</div>
			</div>

		</div>
	</div>

	<button #modalforAlertDBDep [hidden]="true" type="button" data-toggle="modal" data-target="#dbdepoperations">Alert Modal</button>
	<!-- Modal -->
	<div id="dbdepoperations" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="dbdepoperations" (click)="closeModal('dbdepoperations')">&times;</button>
					<h4 class="modal-title">Alert</h4>
				</div>
				<div class="modal-body">
					<p>Select atleast one of the checkbox options for Database Deployment!
					</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="dbdepoperations" (click)="closeModal('dbdepoperations')">OK</button>
				</div>
			</div>

		</div>
	</div>
	<button #modalforArtifactAlert [hidden]="true" type="button" data-toggle="modal" data-target="#listofArtifacts">Alert Modal</button>
	<!-- Modal -->
	<div id="listofArtifacts" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="listofArtifacts" (click)="closeModal('listofArtifacts')">&times;</button>
					<h4 class="modal-title">Alert</h4>
				</div>
				<div class="modal-body">
					<p>No Artifacts in Artifact Repository Manager,Project should be built at least once !
					</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="listofArtifacts" (click)="closeModal('listofArtifacts')">OK</button>
				</div>
			</div>

		</div>
	</div>


	<button #modalforSubmitAlert [hidden]="true" type="button" data-toggle="modal" data-target="#submitArtifacts">Alert Modal</button>
	<div id="submitArtifacts" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="submitArtifacts" (click)="closeModal('submitArtifacts')">&times;</button>
					<h4 class="modal-title">Alert</h4>
				</div>
				<div class="modal-body">
					<p>Select both Build & Deploy!
					</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="submitArtifacts" (click)="closeModal('submitArtifacts')">OK</button>
				</div>
			</div>

		</div>
	</div>


	<button #modalforDeployOptionAlert [hidden]="true" type="button" data-toggle="modal" data-target="#submitDeployArtifacts">Alert Modal</button>
	<div id="submitDeployArtifacts" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="submitDeployArtifacts" (click)="closeModal('submitDeployArtifacts')">&times;</button>
					<h4 class="modal-title">Alert</h4>
				</div>
				<div class="modal-body">
					<p>Select atleast one of the deploy options!
					</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="submitDeployArtifacts" (click)="closeModal('submitDeployArtifacts')">OK</button>
				</div>
			</div>
		</div>
	</div>



	<button #modalforTrigger [hidden]="true" type="button" data-toggle="modal" data-target="#triggerAlertForthis">Alert Modal</button>
	<div id="triggerAlertForthis" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="triggerAlertForthis" (click)="closeModal('triggerAlertForthis')">&times;</button>
					<h4 class="modal-title">Alert</h4>
				</div>
				<div class="modal-body">
					<p>Are you sure you want to trigger the pipeline?
					</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="triggerAlertForthis" (click)="triggerData()">OK</button>
					<button type="button" class="btn btn-default" data-dismiss="triggerAlertForthis" (click)="closeModal('triggerAlertForthis')">Close</button>
				</div>
			</div>

		</div>
	</div>

</div>


<div id="parameterView">
	<div class="container-fluid">

		<div [ngClass]="{'col-md-7 col-md-offset-2':(workflowSequenceIndexI===undefined)}">

			<form name="IDPDataSwitch.BuildTriggerParamForm" id="paramForm" ngNativeValidate class="form-horizontal" (ngSubmit)="trigger()">
				<div class="row">
					<div ng-switch on="true">
						<div ng-switch-when="true">
							<div class="panel-group">
								<div class="panel panel-default">

									<div class="form-group" style="padding-top:20px">
										<div class="col-md-4 text-right">
											<label> {{'Application Name'|translate}} : </label>
										</div>
										<div class="col-md-4">
											<textarea id="trtaan" class="form-control" readonly style="height:35px">{{IDPParamData.applicationName}}</textarea>
										</div>
									</div>
									<div class="form-group">
										<div class="col-md-4 text-right">
											<label> {{'Pipeline Name'|translate}} : </label>
										</div>
										<div class="col-md-4">
											<textarea id="trtapn" class="form-control" readonly style="height:35px">{{IDPParamData.pipelineName}}</textarea>
										</div>
									</div>
									<div class="form-group">
										<div class="col-md-4 text-right">
											<label> {{'Release Number'|translate}} : </label>
										</div>
										<div ng-switch on="IDPDataSwitch.releaseManager">
											<div ng-switch-when="true">
												<div class="col-md-4">
													<select id="trddrn" [ngModelOptions]="{standalone: true}" [(ngModel)]="IDPDataSwitch.releaseNumber" (change)="fetchReleaseBranches(IDPDataSwitch.releaseNumber);"
													 class="form-control" required>
														<option value="">--Select--</option>
														<option *ngFor="let releaseNo of  IDPDataSwitch.releaseNumberList" value="{{releaseNo}}">{{releaseNo}}</option>
													</select>
												</div>
											</div>
										</div>
									</div>

									<div class="form-group" *ngIf="!idpdataService.isSAPApplication && IDPDataSwitch.releaseNumber && (scmType==='git' || scmType==='tfs')">
										<div class="col-md-4 text-right">
											<label> {{'Branch/Tag'|translate}} : </label>
										</div>
										<div class="col-md-8">


											<button id="trbubt" class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false"
											 aria-controls="collapseExample" (click)="setBranchOrTag()">
												Select
											</button>
											<div id="collapseExample" class="collapse">

												<div class="card card-body">
													<div>
														<input id="trtfansi" class="txtbox form-control" type="text" (input)="searchValue()" [(ngModel)]="IDPParamData.branchOrTagValue"
														 name="searchInput" placeholder="Search">
													</div>

													<div style="margin-top:5px">
														<ul class="nav nav-tabs " style="min-height: 43px;">
															<li (click)="setBranchTag('branch')" class="active">
																<a href="#menu1" data-toggle="tab" style="color:black">Branches</a>
															</li>
															<li *ngIf="scmType==='git'" (click)="setBranchTag('tag')">
																<a href="#menu2" data-toggle="tab" style="color:black">Tag</a>
															</li>
														</ul>
														<div class="tab-content">
															<div id="menu1" class="tab-pane fade in active items">
																<ul>
																	<li *ngFor="let x of branchList" style="cursor:pointer" (click)="setValue(x)">
																		<a>{{x}}</a>
																	</li>
																	<li *ngIf="branchList.length===0">No branches available</li>
																</ul>
															</div>
															<div id="menu2" class="tab-pane fade items">
																<ul>
																	<li *ngFor="let x of tagList" style="cursor:pointer" (click)="setValue(x)">
																		<a>{{x}}</a>
																	</li>
																	<li *ngIf="tagList.length===0">No tags available</li>
																</ul>
															</div>
														</div>
													</div>

												</div>
											</div>

										</div>
									</div>

									<br>

									<div id="row_line " class="row form-group" style="padding-top: 20px; padding-left:90px " *ngIf="!idpdataService.isSAPApplication">

										<div [ngSwitch]="IDPDataSwitch.build" *ngIf="!(IDPParamData.technology==='J2EE/Ant' && IDPDataSwitch.modules.length ===0 )">
											<div *ngSwitchCase="true">
												<div class="col-md-3">
													<label> {{'Build'|translate}}: </label>
													<span>
														<input id="trcbbui" type="checkbox" [checked]="IDPDataSwitch.buildSelected==='on'" (change)="IDPDataSwitch.buildSelected=$event.target.checked ? setArtifact1():closeBuild();"
														 class="checkbox-inline" />
													</span>
												</div>
											</div>

										</div>

										<div [ngSwitch]="IDPDataSwitch.deploy">
											<div *ngSwitchCase="true">
												<div class="col-md-3">
													<label> {{'Deploy'|translate}}: </label>
													<span>
														<input id="trcbdep" type="checkbox" (change)="IDPDataSwitch.deploySelected=$event.target.checked ? setArtifact2():closeDeploy();checkEnvToPopulate()"
														 [checked]="IDPDataSwitch.deploySelected==='on'" [disabled]="((disableflag!==undefined && disableflag===true) || IDPDataSwitch.deployEnv.length===0 && IDPDataSwitch.deployTestEnv.length===0   || (IDPDataSwitch.repoName==='na' && IDPDataSwitch.buildSelected==='off' && IDPParamData.technology !=='J2EE/Ant' && IDPParamData.technology !=='fileNet'))"
														 class="checkbox-inline" id="deployCheck" />
													</span>
												</div>
											</div>
										</div>

										<div [ngSwitch]="IDPDataSwitch.test">
											<div *ngSwitchCase="true">
												<div class="col-md-3">
													<label> {{'Test'|translate}}: </label>
													<span>
														<input id="trcbtes" type="checkbox" (change)="IDPDataSwitch.testSelected=$event.target.checked ? 'on':closeTest();checkEnvToPopulate()"
														 [disabled]="this.IDPDataSwitch.testEnv.length===0 && this.IDPDataSwitch.deployTestEnv.length===0" class="checkbox-inline"
														/>
													</span>
												</div>

											</div>
										</div>

									</div>

									<div *ngIf="!idpdataService.isSAPApplication">
										<div [ngSwitch]="IDPDataSwitch.buildSelected==='on' && IDPDataSwitch.buildBranch>0">
											<div *ngSwitchCase="true">
												<div class="form-group" style="padding-top: 20px">
													<div class="col-md-4 text-right">
														<label> {{'Branch'|translate}}: </label>
													</div>
													<div class="col-md-4">
														<select id="trddbr" ng-options="let branch of IDPDataSwitch.buildBranch" [(ngModel)]="IDPParamData.build.branchSelected"
														 class="form-control" required>
															<option value="">--Select--</option>
														</select>
													</div>
												</div>
											</div>
										</div>

										<!-- Additinal Job parameter  -->
										
										<div *ngIf="showJobParamFlag!==undefined && showJobParamFlag==='on'">
											<div class="panel panel-body ">
												<div class="row container-fluid form-group ">
													<label>
														<b> {{'Additional Pipeline Parameters '|translate}}: </b>
													</label>
												</div>
												<div *ngFor="let param of jobParamList; let k =index" [attr.data-index]="k">
													<div *ngIf="param.jobParamSatic != true " class="container-fluid form-group">
														<label class="col-md-3 text-center control-label">
															{{param.jobParamName |translate}}
															<span> : </span>
														</label>

														<div *ngIf="param.jobType != 'pwd'">
															<div class="col-md-3 field-tip text-right ">
																<input id="trtfapp" class="form-control  text-center  " [(ngModel)]="param.jobParamValue" name="jobParamValue+{{k}}" #jobParamValue="ngModel"
																 placeholder="{{param.jobParamValue}}" type="text" required>
															</div>
														</div>
														<div *ngIf="param.jobType === 'pwd'">
															<div class="col-md-3 field-tip text-right ">
																<input id="trowapp" class="form-control  text-center  " [(ngModel)]="param.jobParamValue" name="jobParamValue+{{k}}" #jobParamValue="ngModel"
																 placeholder="{{param.jobParamValue}}" type="password" required>
															</div>
														</div>
													</div>

												</div>
											</div>

										</div>

										<div [ngSwitch]="IDPDataSwitch.buildSelected==='on' && IDPDataSwitch.modules.length>0 && !idpdataService.isSAPApplication && idpdataService.triggerJobData.technology!='bigData'">
											<div *ngSwitchCase="true">
												<div class="form-group">
													<div class="col-md-4 text-right">
														<label> {{'Module'|translate}}: </label>
													</div>

													<div class="col-md-8">
														<div class="scrollVertical">
															<div *ngFor="let module of IDPDataSwitch.modules">
																<div style="max-height:100px; padding-left:15px;">
																	<div class="form-group">
																		<input id="trcbmnb" type="checkbox" [checked]="module.defaultModule==='on'" class="checkbox-inline" value="{{module.moduleName}}"
																		 [required]="IDPParamData.build.module.length==0" (change)="toggleSelection(module.moduleName)" />
																		<label> {{module.moduleName}} </label>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>

										<div *ngIf="(IDPDataSwitch.buildSelected==='on' && IDPDataSwitch.deploySelected==='on' && IDPDataSwitch.subModules.length>0 && !idpdataService.isSAPApplication)">
											<div class="form-group">
												<div class="col-md-4 text-right">
													<label> {{'Module'|translate}}: </label>
												</div>
												<div class="col-md-8">
													<div class="scrollVertical">
														<div *ngFor="let module of IDPDataSwitch.subModules">
															<div style="max-height:100px; padding-left:15px;">
																<div class="form-group">

																	<input id="trcbmnbd" type="checkbox" [checked]="module.defaultModule==='on'" class="checkbox-inline" value="{{module.defaultModule}}"
																	 (change)="toggleSelection1(module.moduleName)" />
																	<label> {{module.moduleName}} </label>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div [ngSwitch]="IDPDataSwitch.buildSelected==='on' && IDPDataSwitch.modules.length>0 && !idpdataService.isSAPApplication && idpdataService.triggerJobData.technology=='bigData'">
											<div *ngSwitchCase="true">
												<div class="form-group">
													<div class="col-md-4 text-right">
														<label> {{'Module'|translate}}: </label>
													</div>

													<div class="col-md-8">
														<div>
															<div *ngFor="let module of IDPDataSwitch.modules">
																<div style="max-height:100px; padding-left:15px;">
																	<div class="form-group">
																		<input id="trcbbbd" type="checkbox" [checked]="module.defaultModule==='on'" class="checkbox-inline" value="{{module.moduleName}}"
																		 [required]="IDPParamData.build.module.length==0" (change)="toggleSelection(module.moduleName)" />
																		<label> {{module.moduleName}} </label>
																	</div>


																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>



										<!-- Code changes for slave seperation Start -->
										<!-- {{IDPDataSwitch.appSlaves}} -->
										<div [ngSwitch]="IDPDataSwitch.buildSelected==='on' || IDPDataSwitch.deploySelected==='on'">
											<div *ngSwitchCase="true">
												<div class="form-group">
													<div class="form-group">
														<div class="col-md-4 text-right">
															<label>{{'Build/Deploy Slave'|translate}} : </label>
														</div>
														<div class="col-md-4">
															<select id="trddbds" [ngModelOptions]="{standalone: true}" (change)="getSlaveStatus(IDPParamData.slaveName)" [(ngModel)]="IDPParamData.slaveName"
															 class="form-control" required>
																<option value="">--Select--</option>
																<option *ngFor="let slave of  IDPDataSwitch.appSlaves | slaveLabelfilter:'build'" value="{{slave}}">{{slave}}</option>
															</select>
														</div>
														<div class="col-md-4" *ngIf="slavestatus==='Not Found'">
															<label class="text-danger">Slave is {{slavestatus}} </label>
														</div>
														<div class="col-md-4" *ngIf="slavestatus==='Offline'">
															<label class="text-danger">Slave is {{slavestatus}} </label>
														</div>
														<div class="col-md-4" *ngIf="slavestatus==='Online'">
															<label class="text-success">Slave is {{slavestatus}} </label>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div [ngSwitch]="IDPDataSwitch.testSelected==='on' ">
											<div *ngSwitchCase="true">
												<div class="form-group">
													<div class="form-group">
														<div class="col-md-4 text-right">
															<label>{{'Test Slave'|translate}} : </label>
														</div>
														<div class="col-md-4">
															<select id="trddtsl" [ngModelOptions]="{standalone: true}" (change)="getTestSlaveStatus(IDPParamData.testSlaveName)" [(ngModel)]="IDPParamData.testSlaveName"
															 class="form-control" required>
																<option value="">--Select--</option>
																<option *ngFor="let tslave of  IDPDataSwitch.appSlaves | slaveLabelfilter:'test'" value="{{tslave}}">{{tslave}}</option>
															</select>
														</div>
														<div class="col-md-4" *ngIf="testslavestatus==='Not Found'">
															<label class="text-danger">Slave is {{testslavestatus}} </label>
														</div>
														<div class="col-md-4" *ngIf="testslavestatus==='Offline'">
															<label class="text-danger">Slave is {{testslavestatus}} </label>
														</div>
														<div class="col-md-4" *ngIf="testslavestatus==='Online'">
															<label class="text-success">Slave is {{testslavestatus}} </label>
														</div>
													</div>
												</div>
											</div>
										</div>

										<!-- Code changes for slave seperation End -->


										<div *ngIf="checkEnv()">
										</div>


										<div [ngSwitch]="(Env!==undefined && Env.length!==0) && (IDPDataSwitch.deploySelected==='on' || IDPDataSwitch.testSelected==='on')">
											<div *ngSwitchCase="true">
												<div class="form-group">
													<div class="col-md-4 text-right">
														<label> {{'Environment'|translate}}: </label>
													</div>
													<div class="col-md-4">

														<select id="trddenv" class="dropDown form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="IDPParamData.envSelected"
														 (change)="checkrmcheck();getEnvPair()" (click)="getArtifactsRm()" required>


															<option value="">--Select--</option>
															<option *ngFor="let env of Env" value="{{env}}">{{env}}</option>
														</select>

													</div>
												</div>
												<div *ngIf="IDPParamData.pairNames!==undefined && IDPParamData.pairNames.length!==0 && IDPParamData.technology==='fileNet'">
													<div class="form-group">
														<div class="col-md-4 text-right">
															<label> {{'Environment Pairs'|translate}}: </label>
														</div>
														<div class="col-md-4">

															<select id="env" class="dropDown form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="IDPParamData.deploy.pairName"
															 (change)="checkrmcheck()" (click)="getArtifactsRm()" required>

																<option value="">--Select--</option>
																<option *ngFor="let env of IDPParamData.pairNames" value="{{env}}">{{env}}</option>
															</select>
														</div>
													</div>
												</div>

											</div>

											<div [ngSwitch]="(IDPDataSwitch.deploySelected=='on' || IDPDataSwitch.testSelected=='on') && IDPDataSwitch.sshAndDependent=='on'">
												<div *ngSwitchCase="true">
													<div class="form-group">
														<div class="col-md-4 text-right">
															<label> Use Previous Artifact : </label>
															<input id="trcbpa" type="checkbox" name="usePreviousArtifact" class="checkbox-inline" [checked]="IDPParamData.usePreviousArtifact==='on'"
															 (change)="IDPParamData.usePreviousArtifact=$event.target.checked ? 'on':'off'" />
														</div>
													</div>
													<div [ngSwitch]="IDPParamData.usePreviousArtifact=='on'">
														<div *ngSwitchCase="true">
															<div class="form-group">
																<div class="col-md-4 text-right">
																	<label>{{'Dependent Release number'|translate}} : </label>
																</div>
																<div class="col-md-4">
																	<select id="trsldrn" [(ngModel)]="IDPParamData.buildartifactNumber" [ngModelOptions]="{standalone: true}" class="form-control"
																	 required>

																		<option value="">--Select--</option>
																		{{IDPDataSwitch.relaseList}}
																		<option *ngFor="let slave of IDPDataSwitch.relaseList" [ngValue]="slave">{{slave}}</option>

																	</select>

																</div>

															</div>

														</div>
													</div>
												</div>
											</div>
										</div>

										<div [ngSwitch]="IDPDataSwitch.deploySelected==='on' && checkrm()">
											<div *ngSwitchCase="true">
												<div class="form-group">
													<div class="col-md-4 text-right">
														<label>{{'Remove Previous Assemblies'|translate}} : </label>
													</div>
													<div class="col-md-4">
														<input id="trcbrpa" type="checkbox" name="removePreviousAssemblies" class="checkbox-inline" [checked]="IDPParamData.removePrevAssem==='on'"
														 (change)="IDPParamData.removePrevAssem=$event.target.checked ? 'on':'off'" />
													</div>
												</div>

												<div [ngSwitch]="IDPParamData.removePrevAssem=='on'">
													<div *ngSwitchCase="true">
														<div class="form-group">
															<div class="col-md-4 text-right">
																<label>{{'Previous Version'|translate}} : </label>
															</div>
															<div class="col-md-4 field-tip text-left">
																<input id="trtfpv" [(ngModel)]="IDPParamData.rmAssemblies" name="rmAss" #rmAssemblies="ngModel" type="text" pattern="[a-zA-Z0-9\-\.,_]+"
																 class="form-control txtbox " placeholder="1.0.0,2.0.0" required>
																<span class="tip-content">{{'Enter Previous Version'|translate}}</span>
																<div *ngIf="rmAssemblies.errors && (rmAssemblies.dirty || rmAssemblies.touched)" class="alert alert-danger ">
																	<div [hidden]="!rmAssemblies.errors.required">
																		This Field Name is required!
																	</div>
																	<div [hidden]="!rmAssemblies.errors.minlength">
																		This Field Name must be at least 3 characters long.
																	</div>
																	<div [hidden]="!rmAssemblies.errors.maxlength">
																		This Field Name cannot be more than 200 characters long.
																	</div>
																	<div [hidden]="!rmAssemblies.errors.pattern">
																		This Field Name can only consist of alphabets, number, dot and underscore
																	</div>
																</div>


															</div>

														</div>

													</div>
												</div>
											</div>
										</div>
										<!-- adding for deploying artifacts-->
										<div *ngIf="IDPDataSwitch.deploySelected==='on' && IDPDataSwitch.repoName!=='na' || (IDPParamData.technology==='J2EE/Ant' && IDPDataSwitch.deploySelected==='on')">
											<div>
												<div class="form-group">
													<div class="col-md-4 text-right">
														<label> {{'Artifacts to deploy'|translate}}: </label>
													</div>

													<div class="col-md-4">


														<select class="dropDown form-control" [(ngModel)]="IDPParamData.deploy.artifacts" [ngModelOptions]="{standalone: true}" (change)="clearArtifact()"
														 (click)="getArtifactLatestDetails(IDPParamData.deploy.artifacts)" required>

															<option value="">--Select--</option>

															<option *ngFor="let artifact of artifacts" [ngValue]="artifact">{{artifact.artifactName}}</option>

														</select>

													</div>
												</div>

											</div>

											<!-- Adding section for specific artifact-->
											<div *ngIf="IDPParamData.deploy.artifacts">
												<div [ngSwitch]="IDPDataSwitch.deploySelected=='on' && (IDPDataSwitch.buildSelected=='off' || (IDPDataSwitch.buildSelected=='on' && IDPParamData.technology==='dbDeployDelphix'))
												 &&  IDPParamData.deploy.artifacts!==undefined && IDPParamData.deploy.artifacts!=='' && !(isLatestArtifact())">
													<div *ngSwitchCase="true">



														<div class="panel-group" id="accordion">
															<div class="panel panel-default">
																<div class="panel-heading">
																	<div>
																		<a data-toggle="collapse" class="glyphicon glyphicon-minus" data-parent="#accordion" href="#collapse1"></a>
																		<a href="{{dashboardUrl}}" style="color:white;" target="_blank">{{IDPParamData.deploy.artifacts.artifactName}}</a>
																	</div>
																</div>


																<div id="collapse1" style="overflow-y:scroll; height:200px;" class="panel-collapse collapse in ma-2">

																	<table id="example" style="border: 2px solid black;" class="table table-bordered table-hover table-responsive col-md-3" style="width:100%"
																	 cellspacing="0" width="70%">
																		<thead class="thead-dark">
																			<tr style="border-color:#2885ae;border-collapse: collapse;">
																				<th style="text-align:center;  width:20%;">{{'Action'|translate}}</th>
																				<th style="text-align:center;  width:20%;">{{'Environment'|translate}}</th>
																				<th style="text-align:center;  width:20%;">{{'User'|translate}}</th>
																				<th style="text-align:center;  width:20%;">{{'Action Time'|translate}}</th>
																				<th style="text-align:center;  width:20%;">{{'Remark'|translate}}</th>
																			</tr>
																		</thead>

																		<tbody>
																			<tr *ngIf="artifactDetails?.length == 0">
																				<td colspan="5" style="text-align:center;">No Data Available To Show</td>
																			</tr>
																			<tr style="border-color:#2885ae;" *ngFor="let tr of artifactDetails">
																				<td style="width:20%">{{tr.status}}</td>
																				<td style="width:20%">{{tr.environment}}</td>
																				<td style="width:20%">{{tr.owner}}</td>
																				<td style="width:20%">{{tr.actionTime}}</td>
																				<td style="width:20%">{{tr.remark}}</td>
																			</tr>
																		</tbody>

																	</table>

																</div>
																<div class="col-md-offset-4 col-md-3" style="text-align:center;">
																	<a href="{{IDPParamData.deploy.artifacts.downloadURL}}">Download Artifact</a>
																</div>

																<div>
																	<div class="col-md-8">
																		<div *ngIf="idpdataService.triggerJobData.technology=='bigData'">
																			<div *ngFor="let module of IDPParamData.deploy.artifacts.buildModulesList">
																				<div style="max-height:100px; padding-left:15px;">
																					<div class="form-group">
																						<input type="checkbox" [checked]="module.defaultModule==='on'" class="checkbox-inline" value="{{module}}" [required]="IDPParamData.deploy.deployModule==0"
																						 (change)="toggleSelectionDeploy(module)" />
																						<label> {{module}} </label>
																					</div>


																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
														<ng-container *ngIf="idpdataService.triggerJobData.technology=='informatica'">
															<div class="panel-group" id="accordion2">
																<div class="panel panel-default">
																	<div class="panel-heading">
																		<div>
																			<a data-toggle="collapse" class="glyphicon glyphicon-minus" data-parent="#accordion2" href="#collapse2"></a>
																			<span style="color:white;">
																				<strong>{{"INFORMATICA PACKAGE CONTENT"}}</strong>
																			</span>
																		</div>
																	</div>
																	<div id="collapse2" style="overflow-y:scroll; height:200px;" class="panel-collapse collapse in ma-2">

																		<table id="example" style="border: 2px solid black;" class="table table-bordered table-hover table-responsive col-md-3" style="width:100%"
																		 cellspacing="0" width="70%">
																			<thead class="thead-dark">
																				<tr style="border-color:#2885ae;border-collapse: collapse;">
																					<th style="text-align:center;  width:33%;">{{'FolderName'|translate}}</th>
																					<th style="text-align:center;  width:33%;">{{'ObjectName'|translate}}</th>
																					<th style="text-align:center;  width:34%;">{{'ObjectType'|translate}}</th>
																				</tr>
																			</thead>

																			<tbody>
																				<ng-container *ngIf="informatica != undefined">
																					<ng-container *ngFor="let folder of informatica">

																						<tr style="border-color:#2885ae;" *ngFor="let source of folder.sourceDefinition">
																							<td style="width:33%">{{folder.folderName}}</td>
																							<td style="width:33%">{{source}}</td>
																							<td style="width:34%">{{"Source Definition"}}</td>
																						</tr>
																						<tr style="border-color:#2885ae;" *ngFor="let targetDefinition of folder.targetDefinition">
																							<td style="width:33%">{{folder.folderName}}</td>
																							<td style="width:33%">{{targetDefinition}}</td>
																							<td style="width:34%">{{"Target Definition"}}</td>
																						</tr>
																						<tr style="border-color:#2885ae;" *ngFor="let mapping of folder.mapping">
																							<td style="width:33%">{{folder.folderName}}</td>
																							<td style="width:33%">{{mapping}}</td>
																							<td style="width:34%">{{"Mapping"}}</td>
																						</tr>
																						<tr style="border-color:#2885ae;" *ngFor="let sessionconfig of folder.sessionconfig">
																							<td style="width:33%">{{folder.folderName}}</td>
																							<td style="width:33%">{{sessionconfig}}</td>
																							<td style="width:34%">{{"Session Config"}}</td>
																						</tr>
																						<tr style="border-color:#2885ae;" *ngFor="let workflow of folder.workflow">
																							<td style="width:33%">{{folder.folderName}}</td>
																							<td style="width:33%">{{workflow}}</td>
																							<td style="width:34%">{{"Workflow"}}</td>
																						</tr>
																						<tr style="border-color:#2885ae;" *ngFor="let mapplet of folder.mapplet">
																							<td style="width:33%">{{folder.folderName}}</td>
																							<td style="width:33%">{{mapplet}}</td>
																							<td style="width:34%">{{"Mapplet"}}</td>
																						</tr>
																						<tr style="border-color:#2885ae;" *ngFor="let session of folder.session">
																							<td style="width:33%">{{folder.folderName}}</td>
																							<td style="width:33%">{{session}}</td>
																							<td style="width:34%">{{"Session"}}</td>
																						</tr>
																						<tr style="border-color:#2885ae;" *ngFor="let sequence of folder.sequence">
																							<td style="width:33%">{{folder.folderName}}</td>
																							<td style="width:33%">{{sequence}}</td>
																							<td style="width:34%">{{"Sequence"}}</td>
																						</tr>
																						<tr style="border-color:#2885ae;" *ngFor="let worklet of folder.worklet">
																							<td style="width:33%">{{folder.folderName}}</td>
																							<td style="width:33%">{{worklet}}</td>
																							<td style="width:34%">{{"Worklet"}}</td>
																						</tr>
																					</ng-container>
																				</ng-container>

																			</tbody>

																		</table>

																	</div>

																</div>
															</div>
														</ng-container>
														<ng-container *ngIf="idpdataService.triggerJobData.technology=='J2EE/Ant'">
															<div class="panel-group" id="accordionAnt">
																<div class="panel panel-default">
																	<div class="panel-heading">
																		<div>
																			<a data-toggle="collapse" class="glyphicon glyphicon-minus" data-parent="#accordionAnt" href="#collapseAnt"></a>
																			<span style="color:white;">
																				<strong>{{"ANT PACKAGE CONTENT"}}</strong>
																			</span>
																		</div>
																	</div>
																	<div id="collapseAnt" style="overflow-y:scroll; height:200px;" class="panel-collapse collapse in ma-2">

																		<table id="example" style="border: 2px solid black;" class="table table-bordered table-hover table-responsive col-md-3" style="width:100%"
																		 cellspacing="0" width="70%">
																			<thead class="thead-dark">
																				<tr style="border-color:#2885ae;border-collapse: collapse;">
																					<th style="text-align:center;  width:50%;">{{'Module Number'|translate}}</th>
																					<th style="text-align:center;  width:50%;">{{'Module Name'|translate}}</th>
																				</tr>
																			</thead>

																			<tbody>
																				<ng-container *ngIf="ant != undefined">
																					<ng-container *ngFor="let antModuleName of ant;let i = index">

																						<tr style="border-color:#2885ae;">
																							<td style="width:50%">{{i+1}}</td>
																							<td style="width:50%">{{antModuleName}}</td>
																						</tr>
																					</ng-container>
																				</ng-container>

																			</tbody>

																		</table>

																	</div>

																</div>
															</div>
														</ng-container>
														<ng-container *ngIf="idpdataService.triggerJobData.technology=='dotNetCsharp'">
															<div class="panel-group" id="accordionDotNet">
																<div class="panel panel-default">
																	<div class="panel-heading">
																		<div>
																			<a data-toggle="collapse" class="glyphicon glyphicon-minus" data-parent="#accordionDotNet" href="#collapseDotNet"></a>
																			<span style="color:white;">
																				<strong>{{"DOTNET PACKAGE CONTENT"}}</strong>
																			</span>
																		</div>
																	</div>
																	<div id="collapseDotNet" style="overflow-y:scroll; height:200px;" class="panel-collapse collapse in ma-2">

																		<table id="example" style="border: 2px solid black;" class="table table-bordered table-hover table-responsive col-md-3" style="width:100%"
																		 cellspacing="0" width="70%">
																			<thead class="thead-dark">
																				<tr style="border-color:#2885ae;border-collapse: collapse;">
																					<th style="text-align:center;  width:50%;">{{'Module Number'|translate}}</th>
																					<th style="text-align:center;  width:50%;">{{'Module Name'|translate}}</th>
																				</tr>
																			</thead>

																			<tbody>
																				<ng-container *ngIf="dotNet != undefined">
																					<ng-container *ngFor="let dotNetModuleName of dotNet;let i = index">

																						<tr style="border-color:#2885ae;">
																							<td style="width:50%">{{i+1}}</td>
																							<td style="width:50%">{{dotNetModuleName}}</td>
																						</tr>
																					</ng-container>
																				</ng-container>

																			</tbody>

																		</table>

																	</div>

																</div>
															</div>
														</ng-container>
														
													</div>
												</div>
											</div>
											<!-- Ending section for specific artifact-->
										</div>
										<!-- ending deploying artfacts -->

										<div id="row_line " class="row form-group" style="padding-left:90px ">
											<div *ngIf="IDPDataSwitch.buildSelected=='on' || IDPDataSwitch.testSelected=='on'">
												<div [ngSwitch]="IDPDataSwitch.gitTagEnable">
													<div *ngSwitchCase="'on'">
														<div class="col-md-3">
															<label> {{'Git Tagging'|translate}}: </label>
															<input type="checkbox" (change)="IDPParamData.gitTag=$event.target.checked ? 'on':'off'" [checked]="IDPParamData.gitTag==='on'"
															 class="checkbox-inline" />

														</div>
													</div>
												</div>
											</div>
										</div>

										<div class="row form-group">
											<div [ngSwitch]="(IDPDataSwitch.deploySelected=='on') && (IDPParamData.envSelected != undefined) && (IDPParamData.envSelected != '') && (idpdataService.triggerJobData.technology !=='fileNet')">
												<div *ngSwitchCase="true">
													<div class="col-md-4 text-right">
														<label>{{'Deploy Steps'|translate}}:</label>
													</div>
													<div class="col-md-5 text-left">
														<angular2-multiselect id="trmsdst" [data]="dropdownListDeploy" [(ngModel)]="tempDeploySteps" name="deploySteps" (onSelect)="onItemSelectDepSteps($event)"
														 (onDeSelect)="onItemDeSelectDepSteps($event)" (onSelectAll)="onSelectAllDepSteps($event)" (onDeSelectAll)="onDeSelectAllDepSteps($event)"
														 [settings]="deployMultiselectSettings" required>
														</angular2-multiselect>
													</div>
												</div>
											</div>
										</div>
										<div class="row form-group">
											<div [ngSwitch]="(IDPDataSwitch.testSelected=='on') && (IDPParamData.envSelected != undefined) && (IDPParamData.envSelected != '')">
												<div *ngSwitchCase="true">
													<div class="col-md-4 text-right">
														<label>{{'Test Steps'|translate}}:</label>
													</div>

													<div class="col-md-5 text-left">
														<angular2-multiselect id="trmstst" [data]="dropdownListTest" [(ngModel)]="tempTestSteps" name="testSteps" (onSelect)="onItemSelectTestSteps($event);getTestPlan()"
														 (onDeSelect)="onItemDeSelectTestSteps($event)" (onSelectAll)="onSelectAllTestSteps($event);getTestPlan()" (onDeSelectAll)="onDeSelectAllTestSteps($event)"
														 [settings]="testMultiselectSettings">
														</angular2-multiselect>
													</div>
												</div>
											</div>

										</div>
										<div class="row form-group" *ngIf="testPlansList!==undefined && testPlansList.length>0">
											<div class="col-md-4 text-right">
												<label>{{'Test Plan'|translate}}:</label>
											</div>
											<div class="col-md-6 text-left">
												<select id="trsltp" class="form-control" name="testPlans" style="width:50%" (change)="getTestSuits(IDPParamData.testPlanId)"
												 [(ngModel)]="IDPParamData.testPlanId" required>
													<option value="">--Select--</option>
													<option *ngFor="let tests of testPlansList" [ngValue]="tests.testPlanId">{{tests.testPlanName}}</option>
												</select>
												{{tests}}
											</div>
										</div>
										<div class="row form-group" *ngIf="testSuitList!==undefined && testSuitList.length>0">
											<div class="col-md-4 text-right">
												<label>{{'Test Suits'|translate}}:</label>
											</div>
											<div class="col-md-6 text-left">
												<span *ngFor="let id of testSuitId ">
													{{id}}
													<span *ngIf="testSuitId.indexOf(id)!==testSuitId.length-1">,</span>
												</span>
												<ng-template #itemTemplate let-item="item" let-onCollapseExpand="onCollapseExpand" let-onCheckedChange="onCheckedChange">
													<div class="form-inline row-item">

														<i *ngIf="item.children" (click)="onCollapseExpand()" aria-hidden="true" class="fa" [class.fa-caret-right]="item.collapsed"
														 [class.fa-caret-down]="!item.collapsed"></i>

														<div class="form-check">
															<input id="trcbit" type="checkbox" class="form-check-input" name="{{item.value}}" [checked]="checkChecked(item.checked)"
															 (ngModelChange)="onCheckedChange()" [disabled]="item.disabled" (change)="item.checked=addItem($event)" [indeterminate]="item.indeterminate"
															/>
															<label class="form-check-label">
																{{item.text}}
															</label>

														</div>
													</div>
												</ng-template>
												<ngx-treeview [config]="config" [items]="testSuitList" [itemTemplate]="itemTemplate" (selectedChange)="onSelectedChange($event)">
												</ngx-treeview>
											</div>
										</div>

										<!--starting database deployment-->

										<!-- End of IBM RQM -->

									</div>

									<div class="row">
										<div>
											<div class="alert alert-success notify-trigger" *ngIf="msg=='success'">
												<strong>{{'The pipeline has been triggered'|translate}}.</strong>
												<!-- {{'Redirecting to PreviousConfiguration'|translate}}. -->
											</div>

											<div class="alert alert-danger notify-trigger" *ngIf="msg=='error'">
												<strong>{{'Error! The pipeline is not triggered. Please contact IDP admin'|translate}}</strong>
											</div>
										</div>
										<div class="col-md-8"></div>

										<div *ngIf="idpdataService.schedulePage!==true && !idpdataService.createWorkflowSequenceflag" class="col-md-4 paddingbottom">
											<div class="col-md-12 btn-container mg15" style="padding-top: 15px">
												<!-- <button id="trbusu" type="submit" class="btn btn-success btn-md" style="float: right;" id="btn_txt" [disabled]="isParameterDisabled || (IDPParamData.tfsWorkItem && !validWorkItems) || (IDPParamData.userStoryString!=='' && validateClick === 'false')"> -->
												<button id="trbusu" type="submit" class="btn btn-success btn-md" style="float: right;" id="btn_txt" [disabled]="isParameterDisabled || disableSubmitBtn || (IDPParamData.tfsWorkItem && !validWorkItems) || (IDPParamData.userStoryString!=='' && validateClick === 'false')">

													<span [hidden]="parameterloading"> {{'Submit'|translate}} &nbsp;</span>
													<span [hidden]="!parameterloading">{{'Submitting'|translate}} &nbsp;
														<i class="fa fa-spinner fa-spin"></i>
													</span>
												</button>
											</div>
										</div>
										<div *ngIf="idpdataService.schedulePage===true || idpdataService.createWorkflowSequenceflag" class="col-md-4 paddingbottom">
											<div class="col-md-12 btn-container" style="padding-top: 15px">
												<button id="trbusa" type="submit" class="btn btn-success btn-md" style="float: right;" id="btn_txt">
													<span> {{'Save'|translate}} &nbsp;</span>

												</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>