<!--
*
* Copyright 2018 Infosys Ltd.
* Use of this source code is governed by MIT license that can be found in the LICENSE file or at
* https://opensource.org/licenses/MIT.”
*
-->
<div class="d-flex flex-column" style="margin-top: 130px;">
  <div class="col-12 well align-self-center" *ngIf="!updateConfigShow() || (updateConfigShow() && IdpdataService.freezeNavBars)" style=" position: fixed; z-index: 9;top: 94px; ">
    <app-idp-nav-bar></app-idp-nav-bar>
  </div>
  <div *ngIf="updateConfigShow() && !IdpdataService.freezeNavBars" class="col-md-2" style="margin-top: 150px;">
  </div>
  <div >
    <router-outlet></router-outlet>
  </div>
</div>