<!--
*
* Copyright 2018 Infosys Ltd.
* Use of this source code is governed by MIT license that can be found in the LICENSE file or at
* https://opensource.org/licenses/MIT.”
*
-->
<div id="basicInfoView">
  <form id="defaultForm" name="basicInfoForm" #basicInfoForm="ngForm" (ngSubmit)="go()" ngNativeValidate>
    <fieldset [disabled]="Idpdata.PagePersmission.basic">
      <div class="card">
        <div class="card-header">
          <b>{{'Overview'| translate}}</b>
        </div>
        <div class="card-body basic-info-details">
          <!-- Application Name -->
          <div class="form-row form-group">
            <div id="appName" class="col-md-3">
              <label class=" col-form-label ">{{'Application Name'|translate}}
                <span class="star">*</span>
              </label>
            </div>
            <div  class="col-md-4 field-tip">
              <select  [(ngModel)]="basicInfo.applicationName" class="form-control" #appSelect (change)="selectedApp1()"
                name="appSelect" [disabled]="formStatusObject.operation === 'copy' || formStatusObject.operation === 'edit'"
                required id="biandd">
                <option value="">--Select--</option>
                <option *ngFor="let name of appNamesDropdown" [ngValue]="name">{{name}}</option>
              </select>

              <span class="tip-content">{{'Name of the application under which the job has to be created'| translate}}</span>
            </div>
          </div>
          <!-- Pipeline Name -->
          
            <div class="form-row form-group  has-feedback">
              <div class="col-md-3">
                <label class=" col-form-label" for="pipelineName">{{'Pipeline Name'|translate}}
                  <span class="star">*</span>
                </label>
              </div>
              <div class="col-md-4 field-tip">
                <input id="bipntf" (change)="checkJobName(basicInfo.pipelineName);setValues()" #title="ngModel" name="title" class="form-control"
                  [disabled]="formStatusObject.operation == 'edit'" [(ngModel)]="basicInfo.pipelineName" type="text" placeholder="JobName"
                  minlength="5" maxlength="35" pattern="[_a-zA-Z0-9]+" required>
               <span *ngIf="basicInfo.pipelineType" class="tip-content">{{basicInfo.pipelineType}}</span>
                <span *ngIf="!basicInfo.pipelineType"class="tip-content">{{'Unique name for the job to be created'| translate}}</span>
                <div *ngIf="title.errors && (title.dirty || title.touched)" class="alert alert-danger ">
                  <div [hidden]="!title.errors.required">
                    This Field Name is required!
                  </div>
                  <div [hidden]="!title.errors.minlength">
                    This Field Name must be at least 5 characters long.
                  </div>
                  <div [hidden]="!title.errors.maxlength">
                    This Field Name cannot be more than 35 characters long.
                  </div>
                  <div [hidden]="!title.errors.pattern">
                    This Field Name can only consist of alphabets, number and underscore
                  </div>
                </div>
                <div class="alert alert-danger" *ngIf="mess!==undefined && mess!==null && mess!==''">
                  {{mess}}
                </div>
              </div>
            </div>
          

          <!-- Build Server OS(Windows/Linux) -->
          <div class="form-row form-group">
            <div class="col-md-3">
              <label class="col-form-label">
                {{'Build Server OS'| translate}}
                <span class="star">*</span>
              </label>
            </div>
            <div class="col-md-4 text-left">
              <select  class="form-control" [(ngModel)]="basicInfo.buildServerOS" name="buildServerOS" id="bibsdd" [disabled]="formStatusObject.operation == 'edit' "
              (change)="setOSName()" required>
                <option value="">--Select--</option>
                <option *ngFor="let os of osList" [ngValue]="os.value">{{os.name}}</option>
              </select>
            </div>
          </div>
          <div class="form-row form-group">
            <div class="col-md-3">
              <label class="col-form-label">
                         {{'Pipeline Type'|translate}}
                         <!-- <span class="star">*</span> -->
                          </label>
            </div>
            <div class="col-md-4 text-left">
              <select   class="form-control" [(ngModel)]="basicInfo.masterSequence"
              name="masterSequence" id="masterSeq" [disabled]="formStatusObject.operation == 'edit' || formStatusObject.operation == 'copy'"
              (change)="changeNavigationLinks()">
                          <option value="">--Select--</option>
                          <option *ngFor="let seq of sequenceList" [ngValue]="seq.value">{{seq.name}}</option>
                        </select>
            </div>
          </div>

        </div>
      </div>


      <!-- Optional Mail Recipients -->
      <div class="card">
        <div class="card-header">
          <b>{{'Additional Mail Recipients'| translate}}</b>
        </div>
        <div class="card-body">
          <div class="">
            <div class="form-row form-group">
              <div>
                <label class=" col-form-label">
                    <input type="checkbox" name="appteam" id="biaucb01" [checked]="basicInfo.additionalMailRecipients.applicationTeam === 'on'"
                    (change)="basicInfo.additionalMailRecipients.applicationTeam=$event.target.checked ? 'on':'off'" class="Mail_Recipients_style">

                  {{'All Application Users'| translate}}
                </label>
              </div>
            </div>
            <div class="form-row form-group">
                <label class="col-md-3  col-form-label">{{'Email Ids'|translate}}</label>
              <div class="col-md-9 text-left field-tip textFieldContainer">
                <input class="form-control " id="biemtf01" name="emailid" #emailid="ngModel" [(ngModel)]="basicInfo.additionalMailRecipients.emailIds"
                  type="text" placeholder="William_Jones,Jerry_Gonzalez" minlength="5" maxlength="150" pattern="[_a-zA-Z0-9-.@]+(,[_a-zA-Z0-9-.@]+)*"
                />
                <span class="tip-content">{{'Emails will be sent after the job creation'| translate}}</span>
                <div *ngIf="emailid.errors && (emailid.dirty || emailid.touched)" class="alert alert-danger ">
                  <div [hidden]="!emailid.errors.required">
                    This Field Name is required!
                  </div>
                  <div [hidden]="!emailid.errors.minlength">
                    This Field Name must be at least 5 characters long.
                  </div>
                  <div [hidden]="!emailid.errors.maxlength">
                    This Field Name cannot be more than 150 characters long.
                  </div>
                  <div [hidden]="!emailid.errors.pattern">
                    This Field Name can only consist of alphabetical,comma,number, dot and underscore
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
            </div>
          </fieldset>
    <div>
      <span class="star">*{{'Denotes Mandatory Fields'| translate}}</span>
      <br />
      <br />
      <div class="col-md-12 btn-container">
        <button type="button" class="btn btn-danger btn-sm" (click)="resetData()" id="birsbu01">{{'Reset'| translate}}</button>&nbsp;&nbsp;
        <button type="submit" class="btn btn-success btn-sm" [disabled]="!(isCPASelectedOnceAllUser(basicInfoForm.form.valid)) || pipelineAdminFlag " style="float:right;"
          id="biccbu01">{{'Continue'| translate}}</button>
      </div>
    </div>
    <div *ngIf="setFormStatus(basicInfoForm.form.valid)">
    </div>
  </form>
  <br>
  <br>
  <br>
</div>
