<div >
	<br/>
  <!-- Delete Modal -->
	<!-- Modal -->
	<ng-template #modalforDelete>
				<div class="modal-header bg-warning">
					<h4 class="modal-title">Delete pipeline</h4>
				</div>
				<div class="modal-body">
					<p>Are you sure you want to delete pipeline {{modalforDeleteRef.content.pipelineName}} ?</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-warning" data-dismiss="modal" (click)="delete(modalforDeleteRef)">Yes</button>
          <button type="button" class="btn btn-primary" (click)="modalforDeleteRef.hide()">No</button>
				</div>
	</ng-template>


	<!-- Modal -->
	<ng-template #modalforDeleteAlert>
				<div class="modal-header bg-success">
					<h4 class="modal-title">Alert</h4>
				</div>
				<div class="modal-body">
					<p>The Pipeline {{modalForSuccessRef.content.pipelineName}} has been deleted.
					</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" (click)="modalForSuccessRef.hide()">OK</button>

				</div>
	</ng-template>
</div>


<div *ngIf="accessCheck()" class="card">
<div class="container-fluid" class="card-body">
  <div class="d-flex flex-row justify-content-between">
    <div class="col-md-4">
        <h4 class="card-title">Pipeline List</h4>
    </div>
  </div>
  <div class="d-flex flex-row justify-content-end">
    <div class="input-group col-md-4  mb-3">
      <div class="input-group-prepend">
        <i class="fa fa-icon fa-filter input-group-text" ></i>
      </div>
      <input id="filterallcolumns" *ngIf="config.filtering" placeholder="Filter all columns"
             [ngTableFiltering]="config.filtering"
             class="form-control"
             (tableChanged)="onChangeTable(config)"/>
    </div>

  </div>
  <div class="table-responsive">
  <ng-table class="showConfig" [config]="config"
            (tableChanged)="onChangeTable(config)"
            (cellClicked)="onCellClick($event)"
            [rows]="rows" [columns]="columns">
  </ng-table>
  </div>
  <pagination *ngIf="config.paging"
              class="pagination-sm"
              [(ngModel)]="page"
              [totalItems]="length"
              [itemsPerPage]="itemsPerPage"
              [maxSize]="maxSize"
              [boundaryLinks]="true"
              [rotate]="false"
              (pageChanged)="onChangeTable(config, $event)"
              (numPages)="numPages = $event">
  </pagination>
  <pre *ngIf="config.paging" class="card card-block card-header">Page: {{page}} / {{numPages}}</pre>
</div>
</div>
<div class="alert alert-danger" style="margin-top:20px; margin-left:10px; text-align:center"*ngIf="noAccessCheck()">
		Sorry! You can't access IDP.
</div>

