.app_name::before{
  content: '';
  visibility: hidden;

}
.app_name::after{
  content:'Infosys Continuous Testing Platform';
  visibility: visible;
  text-align: center;
  font-weight: bold;
  color: white !important;
}

.logo::after {
  content: url("assets/images/Automation_BlueLogo2.png"); 
  visibility: visible;
} 

.app_header{
  background-color: black ;
  color: white ;
  border-bottom-style: hidden ;
  border-bottom-color:white;
}
.text_color{
  color: white ;
}

.href_links{
  color: white ;
  font-size: 14px;
}
a:hover{
  color : #ff5252;
  font-weight : bold;
}



.panel-default>.panel-heading{
  background-color:#212121;
  color:white;
}


#below_header {
  background-color:#212121;
}

/* ------ Side Nav-bar ------ */
 a.list-group-item:hover {
  color: #ffffff !important;
  background: -webkit-linear-gradient(#1fa0e4, #1992d1) !important;
  background: -moz-linear-gradient(#1fa0e4, #1992d1) !important;
  background: -o-linear-gradient(#1fa0e4, #1992d1) !important;
  background: -ms-linear-gradient(#1fa0e4, #1992d1) !important;
  background: linear-gradient(#1fa0e4, #1992d1) !important;
} 
a.list-group-item:focus {
  text-decoration: none !important;
  background: -webkit-linear-gradient(#1fa0e4, #1fa0e4) !important;
  background: -moz-linear-gradient(#1fa0e4, #1fa0e4) !important;
  background: -o-linear-gradient(#1fa0e4, #1fa0e4) !important;
  background: -ms-linear-gradient(#1fa0e4, #1fa0e4) !important;
  background: linear-gradient(#1fa0e4, #1fa0e4) !important;
}
.marked {
  text-decoration: none !important;
  background: -webkit-linear-gradient(#1fa0e4, #1fa0e4)!important;
  background: -moz-linear-gradient(#1fa0e4, #1fa0e4)!important;
  background: -o-linear-gradient(#1fa0e4, #1fa0e4)!important;
  background: -ms-linear-gradient(#1fa0e4, #1fa0e4)!important;
  background: linear-gradient(#1fa0e4, #1fa0e4)!important;
}
li a.active {
  background-color: #1fa0e4;
  color: black;
  text-decoration: none;
}

li a:hover {
  background-color: #1fa0e4;
  color: black;
  text-decoration: none;
}

/* ------------------------------------------ */

.glyph_color {
  color: white;
  padding-top: 1px;
}
.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: white;
  border: 0px solid #e3e3e3;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0);
          box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0);
}

/* -- Login Page-- */
.app_name_login::before{
  content: '';
  visibility: hidden;

}
.app_name_login::after{
  content:'Infosys Continuous Testing Platform';
  visibility: visible;
  text-align: center;
  font-size: xx-large;
  padding-left: 150px;
  width: 60%;
  font-family: Sans-serif;
  /* color: #1b6bb1; */
  color: whitesmoke;
  font-weight: 700; 
  position: relative;
  top: 18px;
}

.logo_login {
  background: url("assets/images/Automation_BlueLogo2.png") no-repeat; 
  visibility: visible;
  margin-left:100px;
  margin-top:12px;
  width: 250px;
  height: 50px;
}

#page_top
	{
	margin-top:-20px;
	width: 100%;
	height: 79px;
	background-color: black;
	box-shadow: 2px 2px 2px #d0d0d0;
	}