<form [parentFormConnect]="formName">
  <div class="animate-switch-container">
    <div class="card animate-switch">
      <div class="card-header" style="height:60px">
        <span> <b>MS{{'Build Details'|translate}}</b>	</span>
        <span>
            <button type="button" class="btn btn-info btn-md" (click)="addItem()" style="float:right"
                    id="btn_txt">{{'Add .NET Solution'|translate}}</button>
          </span>
      </div>

      <div class="card-body">
        <div aria-multiselectable="true">
          <div class="card card-with-border" *ngFor="let module of buildInfo.modules; let i =index" [attr.data-index]="i">
            <div class="card-header" role="tab">
              <h4 class="card-title">
                <a  attr.aria-controls="{{i+1}}" (click)="collapse.toggle()" data-target="{{'#'+(i+1)}}" aria-expanded="true" id="bdbodntsollk"
                   style="cursor:pointer;font-size:14px !important;"> Sol_{{(i + 1)}}</a>
                <span style="float:right" *ngIf="buildInfo.modules.length !== 1">
  												<button class="btn bg-transparent" (click)="deleteItem(i)" id="bdbodntdilk">
  													<span class="cui-trash" aria-hidden="true"></span>
  												</button>
  											</span>
              </h4>
            </div>
            <div id="{{i+1}}" #collapse="bs-collapse" [collapse]="solutions[i+1]" role="tabpanel">
              <div class="card-body">
                <div class="paddingall">
                  <!--Start  SolutionName -->
                  <div class="form-row form-group">
                    <div class="col-md-3 ">
                      <label class="col-form-label">
                        {{'Solution Name'|translate}} <span class="star">*</span>
                      </label>
                    </div>
                    <div class="col-md-9 field-tip  text-left">
                      <input class="form-control  " name="'SoluName'+{{i}}" #SoluName="ngModel" type="text"
                             id="bdbodntsntf" [(ngModel)]="module.moduleName"
                             minlength="3" required/>
                      <div *ngIf="SoluName.errors && (SoluName.dirty || SoluName.touched)" class="alert alert-danger ">
                        <div [hidden]="!SoluName.errors.required">
                          This Field Name is required!
                        </div>
                        <div [hidden]="!SoluName.errors.minlength">
                          This Field Name must be at least 3 characters long.
                        </div>
                      </div>
                      <span class="tip-content">{{'Provide Solution Name'|translate}}</span>
                    </div>
                  </div>
                  <!--End  SolutionName -->

                  <div class="form-row form-group">
                    <div class="col-md-3 ">
                      <label class="col-form-label">MS {{'Build Version'|translate}}:</label> <span
                      class="star">*</span>
                    </div>
                    <div class="col-md-9 text-left">

                      <select class="form-control" [(ngModel)]="module.version" style="width:50%" required
                              name="buildVersion" id="bdbodntbvsl">
                        <option value="">--Select--</option>
                        <option *ngFor="let msBuildVersion of msBuildVersion"
                                value="{{msBuildVersion.value}}">{{msBuildVersion.name}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-row form-group">
                    <div class="col-md-3 ">
                      <label class="col-form-label">{{'Solution Relative Path'|translate}}:</label> <span
                      class="star">*</span>
                    </div>
                    <div class="col-md-9 field-tip text-left">
                      <input [(ngModel)]="module.relativePath" name="'SoluRePath'+{{i}}" #SoluRePath="ngModel"
                             class="form-control " type="text" id="bdbodntsrptf"
                             placeholder="{{'Solution Name'|translate}}/Solution1.sln" minlength="5" maxlength="150"
                             required/>
                      <div *ngIf="SoluRePath.errors && (SoluRePath.dirty || SoluRePath.touched)"
                           class="alert alert-danger ">
                        <div [hidden]="!SoluRePath.errors.required">
                          This Field Name is required!
                        </div>
                        <div [hidden]="!SoluRePath.errors.minlength">
                          This Field Name must be at least 5 characters long.
                        </div>
                        <div [hidden]="!SoluRePath.errors.maxlength">
                          This Field Name cannot be more than 150 characters long.
                        </div>
                      </div>
                      <span class="tip-content">{{'Provide Solution relative path'|translate}}</span>
                    </div>

                  </div>


                  <div class="form-row form-group">
                    <div class="col-md-3 ">
                      <label class="col-form-label">{{'MS Build Arguments'|translate}}:</label>
                    </div>
                    <div class="col-md-9 field-tip text-left">
                      <input name="'msBuildArgs'+{{i}}" #msBuildArgs="ngModel" [(ngModel)]="module.args"
                             class="form-control " type="text"
                             id="bdbodntmbatf" placeholder="Debug,DeployOnBuild,configuration" minlength="5"
                             maxlength="500"/>
                      <span class="tip-content">{{'Provide MsBuild Arguments'|translate}}</span>
                      <div *ngIf="msBuildArgs.errors && (msBuildArgs.dirty || msBuildArgs.touched)"
                           class="alert alert-danger ">
                        <div [hidden]="!msBuildArgs.errors.required">
                          This Field Name is required!
                        </div>
                        <div [hidden]="!msBuildArgs.errors.minlength">
                          This Field Name must be at least 5 characters long.
                        </div>
                        <div [hidden]="!msBuildArgs.errors.maxlength">
                          This Field Name cannot be more than 150 characters long.
                        </div>
                      </div>
                    </div>
                  </div>

                 
                  <div>
                    <div class="form-row form-group" style="padding-left: 20px;">

                      <div class="col-md-12">
                        <label class="checkbox-inline">
                          <input type="checkbox" [checked]="tempObject.modules[i].nUnit==='on'" name="nUnit{{i}}"
                                 id="bdbodntdnunitch{{i}}"
                                 (change)="nUnit(i,$event.target.checked)"/>{{'NUnit'|translate}}
                        </label>
                      </div>
                    </div>
                  </div>
                  <div *ngIf="tempObject.modules[i].nUnit==='on'">
                    <div class="card">
                      <div class="card-header panelHeadingBackground" style="">
                        <b> {{'NUnit'|translate}}</b>
                      </div>
                      <div class="card-body" style="margin-bottom:0px;margin-left:13px" id="accordion"
                           aria-multiselectable="true">
                        <div style="margin-top:20px">
                          <div class="form-row form-group">
                            <label class="col-md-3  col-form-label">
                              {{'NUnit Project Path '|translate}}<span style="color:red">*</span>
                            </label>
                            <div class="col-md-9 field-tip text-left">
                              <input class="form-control " #nUnitprojPath="ngModel" id="bdbobddnupptf"
                                     [(ngModel)]="buildInfo.modules[0].nUnitprojPath" type="text" name="projPath"
                                     placeholder="FabricService\SampleDBProject\SampleDBProject\SampleDBProject"
                                     maxlength="150"
                                     required>
                              <span
                                class="tip-content">{{'Path of project for NUnit relative to root folder'|translate}}</span>
                              <div *ngIf="nUnitprojPath.errors && (nUnitprojPath.dirty || nUnitprojPath.touched)"
                                   class="alert alert-danger ">
                                <div [hidden]="!nUnitprojPath.errors.required">
                                  This Field Name is required!
                                </div>
                                <div [hidden]="!nUnitprojPath.errors.maxlength">
                                  This Field Name cannot be more than 150 characters long.
                                </div>

                              </div>
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--Nunit Ends -->
                  <!--Start  CodeAnalysis -->
                  <div>
                    <div class="form-row form-group" style="padding-left: 20px;">

                      <div class="col-md-12">
                        <label class="checkbox-inline">
                          <input type="checkbox" [checked]="tempObject.modules[i].codeAnalysis==='on'"
                                 name="codeAnalysis{{i}}" id="bdbodntcach{{i}}"
                                 (change)="codeAnalysisCheckbox(i,$event.target.checked)"/>{{'Code Analysis'|translate}}
                        </label>
                      </div>
                    </div>
                    <div class="animate-switch-container" [ngSwitch]="tempObject.modules[i].codeAnalysis">
                      <div class="container-fluid animate-switch" *ngSwitchCase="'on'">
                        <div class="col-md-12 form-row form-group" style="margin-left:20px;height: 40px;">
                          <label class="checkbox-inline " style="text-transform:capitalize;">
                            <input type="checkbox"
                                   [checked]="module.codeAnalysis[0]===tempCodeAnalysis[0]" name="code1{{i}}"
                                   id="bdbodnttcach{{i}}"
                                   (change)="module.codeAnalysis[0]=$event.target.checked ? tempCodeAnalysis[0]:clearSonarqube()">
                                SonarQube

                          </label>
                          <label class="checkbox-inline " style="text-transform:capitalize;">
                            <input type="checkbox" [checked]="module.codeAnalysis[1]===tempCodeAnalysis[1]"
                                   name="code2{{i}}" id="bdbodnttca1ch{{i}}"
                                   (change)="module.codeAnalysis[1]=$event.target.checked ? tempCodeAnalysis[1]:'off'">
                            {{tempCodeAnalysis[1]}}
                          </label>
                        </div>

                            <!-- sonar Authentication code -->
                            <div *ngIf="buildInfo.modules[0].codeAnalysis[0]=='sonar'" style="padding-top: 15px;padding-left:20px;">
                              <div class="row" style="margin-bottom: 10px;">
                                <div class="col-md-2">
                                <label for="sonarUrl">SonarQube URL</label>
                                </div>
                                <div class="col-md-10">
                                <input class="form-control  textFieldWidth" name="sonarUrl" #sonarUrl="ngModel" placeholder="SonarQube Url"
                                  id="sonarUrl" type="text" [(ngModel)]="buildInfo.modules[0].sonarUrl" pattern="(https?|HTTPS?):\/\/[_a-zA-Z0-9-./:]+">
                                  
                                   <div *ngIf="sonarUrl.errors && (sonarUrl.dirty || sonarUrl.touched)" class="alert alert-danger ">
                                    <div [hidden]="!sonarUrl.errors.pattern">
                                      This Field Name can only consist of valid url
                                    </div>
                                  </div>
                                </div>
                              </div>
                               
                              <div class="row" style="margin-bottom: 10px;">
                                <div class="col-md-2">
                                <label for="sonarUsername">UserName / Sonar Security token</label>
                    
                                </div>
                                <div class="col-md-10 field-tip">
                                <input class="form-control  textFieldWidth" name="SonarUsername"  (change)="buildInfo.modules[0].sonarPassword=''"
                                  #sonarUname="ngModel" placeholder="Username" id="sonarUsername" type="text" [(ngModel)]="buildInfo.modules[0].sonarUserName" pattern="[_a-zA-Z0-9.-]+" >
                                  <span class="tip-content">Password is required only with username</span>
                                  <div *ngIf="sonarUname.errors && (sonarUname.dirty || sonarUname.touched)" class="alert alert-danger ">
                                  <div [hidden]="!sonarUname.errors.required">
                                    This Field Name is required!
                                  </div>
                                  <div [hidden]="!sonarUname.errors.minlength">
                                    This Field Name must be at least 3 characters long.
                                  </div>
                                  <div [hidden]="!sonarUname.errors.maxlength">
                                    This Field Name cannot be more than 200 characters long.
                                  </div>
                                  <div [hidden]="!sonarUname.errors.pattern">
                                    This Field Name can only consist of valid username
                                  </div>
                                </div>
                                </div>
                              </div>
                              
                              <div class="row" style="margin-bottom: 10px;">
                                <div class="col-md-2">
                                <label for="sonarPassword">Password</label>
                    
                                </div>
                                <div class="col-md-10">
                                <input class="form-control  textFieldWidth" name="SonarPassword" type="password" 
                                  #sonarPassword="ngModel" placeholder="Password" id="sonarPassword" [(ngModel)]="buildInfo.modules[0].sonarPassword"
                                  encrypt>
                                </div>
                              </div>
                              
                              <div class="row" style="margin-bottom: 10px;">
                                  <div class="col-md-2">
                                  <label for="sonarProperties">Sonar Properties Relative Path</label>
                                  </div>
                                  <div class="col-md-10">
                                  <input class="form-control  textFieldWidth" name="sonarProperties" #sonarProperties="ngModel" placeholder="SonarQube Properties relative Path" (change)="buildInfo.modules[0].sonarPassword='';buildInfo.modules[0].sonarUserName='' "
                                    id="sonarProperties" type="text" [(ngModel)]="buildInfo.modules[0].sonarProperties" pattern="[a-zA-Z0-9/\\_\.\-]+">
                                    
                                     <div *ngIf="sonarProperties.errors && (sonarProperties.dirty || sonarProperties.touched)" class="alert alert-danger ">
                                    <div [hidden]="!sonarProperties.errors.required">
                                      This Field Name is required!
                                    </div>
                                    <div [hidden]="!sonarProperties.errors.minlength">
                                      This Field Name must be at least 3 characters long.
                                    </div>
                                    <div [hidden]="!sonarProperties.errors.maxlength">
                                      This Field Name cannot be more than 200 characters long.
                                    </div>
                                    <div [hidden]="!sonarProperties.errors.pattern">
                                      This Field Name can only consist of valid relativePath
                                    </div>
                                    </div>
                                  </div>
                              </div>
                              </div>
                            <!-- /sonar Authentication code -->
                      </div>

                    </div>

                  </div>

                  <!--End  CodeAnalysis -->


                  <!--Start  SecurityAnalysis -->
                  <!-- <div>
                    <div>
                      <div class="form-row form-group chkright" style="padding-left: 20px">
                        <div class="col-md-12">
                          <label class="checkbox-inline">
                               <input	type="checkbox"   (change)="tempObject.modules[0].securityAnalysis=$event.target.checked ?'on':'off'"
  												[disabled]="tempObject.modules[0].customBuildXml==='on'" style="width: 15px; height: 15px"/>
                          {{'Security Analysis'|translate}}
  											</label>
                        </div>
                      </div>

                      <div [ngSwitch]="tempObject.modules[0].securityAnalysis==='on'">
                        <div *ngSwitchCase="true">
                          <div class="col-md-4 col-md-offset-3 text-left">
                            <select class=" form-control" [(ngModel)]="tempObject.modules[0].Checkmarx">
  													<option value="" selected>---select---</option>
  													<option *ngFor="let sec of tempsecurityAnalysislist" value="{{sec}}">{{sec |translate}}</option>
  												</select>
                          </div>

                          <div class="animate-switch-container" [ngSwitch]="tempObject.modules[0].Checkmarx==='Checkmarx'">
                            <div class="card-body form-row form-group animate-switch" *ngSwitchCase="true"> -->
                  <!-- code for the exclude folder -->
                  <!-- <div class="form-row form-group chkright" style="padding-left: 20px">
                                <div class="col-md-12">
                                  <label class="checkbox-inline">&nbsp;&nbsp;
                              <input		type="checkbox" (change)="tempObject.modules[0].excludeFolder=$event.target.checked ?'on':'off'"/>
                              {{'Exclude folders'|translate}}
  													</label>
                                </div>
                              </div>

                              <div *ngIf="tempObject.modules[0].securityAnalysis==='off'  ">
                                <div *ngIf="setSomeValues1()">
                                </div>
                              </div>
                              <div *ngIf="tempObject.modules[0].incrementalScan==='off'   ">
                                <div *ngIf="setSomeValues2()">
                                </div>
                              </div> -->


                  <!-- Code for Directories -->
                  <!-- <div [ngSwitch]="tempObject.modules[0].excludeFolder==='on'">
                                <div *ngSwitchCase="true">
                                  <div class=" form-row form-group">
                                    <div class="col-md-3 ">
                                      <label class="col-form-label">{{'Directories'|translate}}
                                      <span	class="star">*</span></label>
                                    </div>
                                    <div class="col-md-9 field-tip text-left">
                                      <input class="form-control  textFieldWidth" name="Directories" #Directories="ngModel" [(ngModel)]="buildInfo.modules[0].exclude" type="text" placeholder="{{'dir'|translate}} 1 , {{'dir'|translate}} 2"
                                    minlength="1"
                                        maxlength="150" required/>
                                      <div *ngIf="Directories.errors && (Directories.dirty || Directories.touched)" class="alert alert-danger ">
                                        <div [hidden]="!Directories.errors.required">
                                          This Field Name is required!
                                        </div>
                                        <div [hidden]="!Directories.errors.minlength">
                                          This Field Name must be at least 1 characters long.
                                        </div>
                                        <div [hidden]="!Directories.errors.maxlength">
                                          This Field Name cannot be more than 150 characters long.
                                        </div>
                                        <div [hidden]="!Directories.errors.pattern">
                                          This Field Name can only consist of alphabetical, number, dot and underscore
                                        </div>
                                      </div>
                                      <span class="tip-content">{{'Directories relative to Exclude folder'|translate}}</span>
                                    </div>
                                  </div>
                                  <div *ngSwitchCase="false">
                                    <div *ngIf="setBuildinfoExc()">

                                    </div>

                                  </div>

                                </div>


                              </div> -->
                  <!-- code end for the Directories -->
                  <!-- Code end for the Exclude folder -->

                  <!-- Code for Incremental scan -->
                  <!-- <div class="form-row form-group chkright" style="padding-left: 20px">
                                <div class="col-md-12">
                                  <label class="checkbox-inline">&nbsp;&nbsp; <input
  														type="checkbox" (change)="buildInfo.modules[0].incrementalScan=$event.target.checked ?'on':'off'"/>{{'IncrementalScan'|translate}}
  													   </label>
                                </div>
                              </div> -->

                  <!-- code for the schedule periodic Full scan -->
                  <!-- <div [ngSwitch]="buildInfo.modules[0].incrementalScan==='on'">
                                <div *ngSwitchCase="true">
                                  <div class="form-row form-group chkright" style="padding-left: 20px">
                                    <div class="col-md-12">
                                      <label class="checkbox-inline">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  																<input type="checkbox" (change)="tempObject.modules[0].schdulePeriodicFullScan=$event.target.checked ?'on':'off'"/>
                                  {{'Schedule	Periodic Full Scan'|translate}}
  															       </label>
                                    </div>
                                  </div>
                                </div>
                              </div> -->
                  <!-- code end for the schedule periodic Full scan -->
                  <!-- <div [ngSwitch]="tempObject.modules[0].schdulePeriodicFullScan==='on'">
                                <div *ngSwitchCase="true">
                                  <div class=" form-row form-group">
                                    <div class="col-md-3 ">
                                      <label class="col-form-label">{{'Interval for Full	Scans'|translate}}<span class="star">*</span>
  															</label>
                                    </div>
                                    <div class="col-md-9 field-tip text-left">
                                      <input class="form-control  textFieldWidth" name="IntFullScan" #IntFullScan="ngModel" [(ngModel)]="buildInfo.modules[0].interval" type="number" placeholder="Enter the value between 0 and 99" minlength="1" maxlength="100" required />
                                      <div *ngIf="IntFullScan.errors && (IntFullScan.dirty || IntFullScan.touched)" class="alert alert-danger ">
                                        <div [hidden]="!IntFullScan.errors.required">
                                          This Field Name is required!
                                        </div>
                                        <div [hidden]="!IntFullScan.errors.minlength">
                                          This Field Name must be at least 1 characters long.
                                        </div>
                                        <div [hidden]="!IntFullScan.errors.maxlength">
                                          This Field Name cannot be more than 150 characters long.
                                        </div>
                                      </div>
                                      <span class="tip-content">{{'Internal Full Scan Value	related to Periodic Full Scan'|translate}}</span>
                                    </div>
                                  </div>
                                </div>
                                <div *ngSwitchCase="false">
                                  <div *ngIf="setBuildinfoInt()">
                                  </div>

                                </div>

                              </div> -->


                  <!-- Code end for incremental scan -->


                  <!-- </div>
                          </div>

                          <div [ngSwitch]="tempObject.modules[0].Checkmarx==='AppScan'">
                            <div *ngSwitchCase="true">
                              <div class="form-row form-group chkright" style="padding-left: 20px;">
                                <div class="col-md-12">
                                  <label class="checkbox-inline">
                                 <input	type="checkbox"	(change)="tempObject.modules[0].securityAnalysis=$event.target.checked ?'on':'off'"
  																 [disabled]="tempObject.modules[0].customBuildXml==='on'"/>
                                   {{'Security Analysis'|translate}}
  															</label>
                                </div>
                              </div>
                              <div class="animate-switch-container" [ngSwitch]="tempObject.modules[0].securityAnalysis==='on'">
                                <div *ngSwitchCase="true">
                                  <div class="form-row form-group">
                                    <div class="col-md-3 ">
                                      <label class="col-form-label"> {{'Username' |translate}} </label> <span class="star">*</span>
                                    </div>
                                    <div class="col-md-9 text-left field-tip">
                                      <input class="form-control  boxWidth" name="userNamemsBuild" #userNamemsBuild="ngModel" [(ngModel)]="module.userName" type="text" placeholder="Username" minlength="1" maxlength="150" required/>
                                      <div *ngIf="userNamemsBuild.errors && (userNamemsBuild.dirty || userNamemsBuild.touched)" class="alert alert-danger ">
                                        <div [hidden]="!userNamemsBuild.errors.required">
                                          This Field Name is required!
                                        </div>
                                        <div [hidden]="!userNamemsBuild.errors.minlength">
                                          This Field Name must be at least 1 characters long.
                                        </div>
                                        <div [hidden]="!userNamemsBuild.errors.maxlength">
                                          This Field Name cannot be more than 150 characters long.
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="form-row form-group">
                                    <div class="col-md-3 ">
                                      <label class="col-form-label"> {{'Password' | translate}}</label> <span class="star">*</span>
                                    </div>
                                    <div class="col-md-9 text-left field-tip">
                                      <input class="form-control  boxWidth" name="password" #password="ngModel" [(ngModel)]="module.password" type="password" placeholder="Password" minlength="1" maxlength="150" required/>
                                      <div *ngIf="password.errors && (password.dirty || password.touched)" class="alert alert-danger ">
                                        <div [hidden]="!password.errors.required">
                                          This Field Name is required!
                                        </div>
                                        <div [hidden]="!password.errors.minlength">
                                          This Field Name must be at least 1 characters long.
                                        </div>
                                        <div [hidden]="!password.errors.maxlength">
                                          This Field Name cannot be more than 150 characters long.
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class=" form-row form-group chkright">
                                    <div class="col-md-3 ">
                                      <label class="col-form-label">{{'Server Machine'|translate}}</label> <span class="star">*</span>
                                    </div>
                                    <div class="col-md-9 field-tip text-left">
                                      <input class="form-control  textFieldWidth" name="ServerMachine" #ServerMachine="ngModel" [(ngModel)]="module.serverMachine" type="textbox" placeholder="{{'Server Host Name'|translate}}" minlength="1" maxlength="150" required/>
                                      <div *ngIf="ServerMachine.errors && (ServerMachine.dirty || ServerMachine.touched)" class="alert alert-danger ">
                                        <div [hidden]="!ServerMachine.errors.required">
                                          This Field Name is required!
                                        </div>
                                        <div [hidden]="!ServerMachine.errors.minlength">
                                          This Field Name must be at least 1 characters long.
                                        </div>
                                        <div [hidden]="!ServerMachine.errors.maxlength">
                                          This Field Name cannot be more than 150 characters long.
                                        </div>
                                      </div>
                                      <span class="tip-content">AppScan {{'Server Host Name'|translate}}</span>
                                    </div>
                                  </div>
                                </div>
                                <div *ngSwitchCase="false">
                                  <div *ngIf="setUSPassSM(i)">
                                  </div>
                                </div>
                              </div> -->
                  <!--End  SecurityAnalysis -->
                  <!-- </div>
                          </div>
                        </div>
                      </div>


                    </div>
                  </div> -->
                  <!--Start  UnitTesting -->
                  <div>
                    <div class="form-row form-group" style="padding-left: 20px;">
                      <div class="col-md-12">
                        <label class="checkbox-inline"> <input
                          type="checkbox" [checked]="module.unitTesting==='on'" name="unittest{{i}}"
                          id="bdbodnttutch{{i}}"
                          (change)="module.unitTesting=$event.target.checked ?'on':clearUnitTest(i)"
                        />
                          {{'Unit Testing'|translate}}
                        </label>
                      </div>
                    </div>
                    <div class="animate-switch-container" *ngIf="module.unitTesting==='on'">
                      <div class="card-body animate-switch">

                        <div class="form-row form-group">
                          <div class="col-md-3 ">
                            <label class="col-form-label">{{'Unit Test Project Name'|translate}}</label> <span
                            class="star">*</span>
                          </div>
                          <div class="col-md-9 field-tip text-left">
                            <input class="form-control  textFieldWidth" name="UnitTestPN{{i}}" id="bdbodntutpnch{{i}}"
                                   #UnitTestPN="ngModel" [(ngModel)]="module.unitTestProjectName" type="text"
                                   placeholder="{{'TestProject'|translate}}" minlength="1" maxlength="150" required/>
                            <div *ngIf="UnitTestPN.errors && (UnitTestPN.dirty || UnitTestPN.touched)"
                                 class="alert alert-danger ">
                              <div [hidden]="!UnitTestPN.errors.required">
                                This Field Name is required!
                              </div>
                              <div [hidden]="!UnitTestPN.errors.minlength">
                                This Field Name must be at least 1 characters long.
                              </div>
                              <div [hidden]="!UnitTestPN.errors.maxlength">
                                This Field Name cannot be more than 150 characters long.
                              </div>
                            </div>
                            <span
                              class="tip-content">{{'Name of Visual Studio Unit Test Project Name'|translate}}</span>
                          </div>

                        </div>
                        <div class="form-row form-group">
                          <div class="col-md-3 ">
                            <label class="col-form-label">{{'Unit Test Category'|translate}}</label>
                          </div>
                          <div class="col-md-9 field-tip text-left">
                            <input class="form-control  textFieldWidth" name="UnitTestCategory{{i}}"
                                   id="bdbodnttutcch{{i}}" #UnitTestCategory="ngModel"
                                   [(ngModel)]="module.unitTestCategory" type="text"
                                   placeholder="{{'Unit Test Category'|translate}}"/>
                            <div *ngIf="UnitTestCategory.errors && (UnitTestCategory.dirty || UnitTestCategory.touched)"
                                 class="alert alert-danger ">
                              <div [hidden]="!UnitTestCategory.errors.required">
                                This Field Name is required!
                              </div>
                            </div>
                            <span class="tip-content">{{'Provide'|translate}} {{'Unit Test Category'|translate}}</span>
                          </div>

                        </div>
                      </div>

                    </div>
                  </div>
                  <!--End  UnitTesting -->


                  <!-- <div class="form-row form-group" style="padding-left: 20px;">
  														<div class="col-md-12">
  															<label class="checkbox-inline"> <input
  																type="checkbox" ng-true-value="'on'"
  																ng-false-value="'off'"[(ngModel)]="tempObject.modules[0].obfuscation"

  																ng-switch="obfuscationDotnetChecked(i)">{{'Obfuscation'|translate}}
  															</label>
  														</div>
  													</div>
  													<div class="animate-switch-container" [ngSwitch]="tempObject.modules[0].obfuscation">
      <div class="animate-switch" *ngSwitchCase="on">
          <div class="card-body">

              <div class="form-row form-group ">
                 <div>
                      <label class="col-md-3  col-form-label ">{{'Renaming'|translate}}   <span class="star">*</span></label>
                  </div>
                  <div class="col-md-9 text-left">
                      <select  class="dropDown"[(ngModel)]="module.renaming" >
                          <option value="">--Select--</option>
                          <option value="On">{{'ON'|translate}}</option>
                          <option value="Off">{{'OFF'|translate}}</option>
                      </select>
                  </div>
              </div>
              <div class="form-row form-group ">

                      <label class="col-form-label col-md-3 ">{{'Control Flow'|translate}}<span class="star">*</span></label>

                  <div class="col-md-9 text-left">
                      <select  class="dropDown"[(ngModel)]="module.controlFlow" >
                          <option value="">--Select--</option>
                          <option value="On">{{'ON'|translate}}</option>
                          <option value="Off">{{'OFF'|translate}}</option>
                      </select>
                  </div>
              </div>
              <div class="form-row form-group ">

                      <label class="col-form-label col-md-3 ">{{'String encryption'|translate}}<span class="star">*</span></label>

                  <div class="col-md-9 text-left">
                      <select class="dropDown"[(ngModel)]="module.encryption" >
                          <option value="">--Select--</option>
                          <option value="On">{{'ON'|translate}}</option>
                          <option value="Off">{{'OFF'|translate}}</option>
                      </select>
                  </div>
              </div>
          </div>
      </div>
  </div> -->

                  <!-- End Obfuscation -->
                  <!--Start  CodeCoverage -->
                  <div>
                    <div class="form-row form-group" style="padding-left: 20px;">
                      <div class="col-md-12">
                        <label class="checkbox-inline">
                          <input type="checkbox" id="bdbodntcccb{{i}}" [checked]="module.codeCoverage==='on'"
                                 name="codeCoverage1"
                                 (change)="module.codeCoverage=$event.target.checked ?'on':clearCodeCoverage(i)"
                                 [disabled]="module.unitTesting ==='off' || module.unitTesting === undefined"/>{{'Code Coverage'|translate}}
                        </label>
                      </div>
                    </div>
                    <div class="animate-switch-container" *ngIf="module.codeCoverage==='on'">
                      <div class="card-body animate-switch">
                        <div class="form-row form-group">
                          <div class="col-md-3 ">
                            <label class="col-form-label">{{'Test settings file name with relative path'|translate}}
                              <span class="star">*</span></label>
                          </div>
                          <div class="col-md-9 field-tip text-left">
                            <input class="form-control  textFieldWidth" name="testSettings{{i}}" id="bdbodnttsftf{{i}}"
                                   #testSettings="ngModel" [(ngModel)]="module.testSettingFilePath" type="text"
                                   placeholder="ReservationSystem\Local.testsettings" required/>
                            <div *ngIf="testSettings.errors && (testSettings.dirty || testSettings.touched)"
                                 class="alert alert-danger ">
                              <div [hidden]="!testSettings.errors.required">
                                This Field Name is required!
                              </div>
                            </div>
                            <span class="tip-content">{{'Relative path to testsettings file'|translate}}</span>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                  <!--End  CodeCoverage -->

                  <!--Default Module-->

                  <div>
                    <div class="form-row form-group" style="padding-left: 20px;">
                      <div class="col-md-12">
                        <label class="checkbox-inline">
                          <input type="checkbox" [checked]="module.defaultModule==='on'" name="defaultModule{{i}}"
                                 id="bdbodntdmch{{i}}"
                                 (change)="module.defaultModule=$event.target.checked ?'on':'off'"
                          />{{'Default Module'|translate}}
                        </label>
                      </div>
                    </div>

                  </div>


                  <!--End Default Module-->

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</form>
