<!-- Modal/Alert Message  -->
<div>
    <!--for add applicationName  alert-->
    <!-- Modal -->
    <ng-template #modalforAlert>
                <div class="modal-header">
                    <h4 class="modal-title">Alert</h4>
                </div>
                <div class="modal-body">
                    <p>Please choose the Application Name</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" (click)="redirectToBasicInfo(modalforAlertRef)">Close</button>
                </div>
    </ng-template>

    <ng-template #modalformandatoryFieldsAlert>
                <div class="modal-header">
                    <h4 class="modal-title">Alert Message</h4>
                </div>
                <div class="modal-body">
                    Please fill all the mandatory fields on
                    <span *ngFor="let name of listToFillFields;let i=index">
                        {{name}}
                        <span *ngIf="i!=listToFillFields.length-1">, </span>
                    </span> Page.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"(click)="modalformandatoryFieldsAlertRef.hide()">OK</button>
                </div>
    </ng-template>

    <ng-template #modalforconfirmAlert>
                <div class="modal-header">
                    <h4 class="modal-title">Alert Message</h4>
                </div>
                <div class="modal-body">
                    Are you sure you want to submit?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" (click)="submitData(modalforconfirmAlertRef)">OK</button>
                    <button type="button" class="btn btn-default" (click)="modalforconfirmAlertRef.hide()">Close</button>
                </div>
    </ng-template>

    <!-- Modal -->
    <ng-template #modalforAlertDataMiss>
                <div class="modal-header">
                    <h4 class="modal-title">Alert</h4>
                </div>
                <div class="modal-body">
                    <p>Please add a Workflow Sequence with valid details!!
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" (click)="modalforAlertDataMissRef.hide()">Close</button>
                </div>
    </ng-template>

    <ng-template #modalforTrigger>
                <div class="modal-header">
                    <h4 class="modal-title">Alert</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to trigger the pipeline?
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="triggerAlertForthis" (click)="triggerData(modalforTriggerRef)">OK</button>
                    <button type="button" class="btn btn-default" data-dismiss="triggerAlertForthis" (click)="modalforTriggerRef.hide()">Close</button>
                </div>
    </ng-template>

    <!-- Modal for Trigger details component view Start -->
    <div id="addPipelineDetails"  class="modal fade" bsModal #modalForTriggerDetails="bs-modal" [config]="{backdrop: 'static'}"
         tabindex="-1" role="dialog">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <span class="modal-title">Trigger Details for Step No_{{Idpdata.index+1}}</span>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <div *ngIf="appPipeNamesAvailable===undefined || !appPipeNamesAvailable ">
                        Loading Details&nbsp;&nbsp;&nbsp;&nbsp;
                        <i class="fa fa-hourglass fa-spin"></i>
                    </div>
                    <ng-container  dynamic-component></ng-container>
                </div>
        </div>
      </div>
    </div>
    <!-- Modal for Trigger details component view End -->

</div>
<!-- {{Idpdata.workflowTrigger}} -->
<div [ngClass]="(Idpdata.workflowTrigger) ? 'container-fluid'  : ''">
    <div [ngClass]="(Idpdata.workflowTrigger) ? 'card'  : ''">

        <form id="workflowInfo" name="workflowForm" #workflowForm="ngForm" ngNativeValidate class="card-body" (ngSubmit)="submit()">
            <!-- createWorkflow() -->
            <!-- (ngSubmit)="go()" name="testInfoForm" #testInfoForm="ngForm" class="form-horizontal" ngNativeValidate -->
            <fieldset [disabled]="Idpdata.freezeNavBars===true">
                <div  *ngIf="Idpdata.workflowTrigger">
                    <div class="form-row form-group" style="padding-top:20px">
                        <div class="col-md-4 ">
                            <label> {{'Application Name'| translate}} : </label>
                        </div>
                        <div class="col-md-4">
                            <textarea class="form-control" readonly style="height:35px">{{Idpdata.triggerWorkflowJobData.applicationName}}</textarea>
                        </div>
                    </div>
                    <div class="form-row form-group">
                        <div class="col-md-4 ">
                            <label> {{'Pipeline Name'| translate}} : </label>
                        </div>
                        <div class="col-md-4">
                            <textarea class="form-control" readonly style="height:35px">{{Idpdata.triggerWorkflowJobData.pipelineName}}</textarea>
                        </div>
                    </div>
                    <div class="form-row form-group">
                        <div class="col-md-4 ">
                            <label> {{'Release Number'| translate}} : </label>
                        </div>
                        <div class="col-md-4">
                            <select id="slave" [ngModelOptions]="{standalone: true}" [(ngModel)]="IDPWorkflowParamData.releaseNumber" class="form-control"
                                required>
                                <!-- (change)="fetchReleaseBranches(IDPWorkflowParamData.releaseNumber)" -->
                                <option value="">--Select--</option>
                                <option *ngFor="let releaseNo of  releaseNumberList" value="{{releaseNo}}">{{releaseNo}}</option>
                            </select>
                            <!--	<input type="text" class="form-control" placeholder="1.0.0"  [ngModelOptions]="{standalone: true}" [(ngModel)]="IDPDataSwitch.releaseNumber" style="width:100%" required />-->
                        </div>
                    </div>


                </div>


                <div class="card ">
                    <div class="card-header ">
                        <div class="d-flex flex-row justify-content-between">
                            <span>{{'Workflow Details'| translate}}</span>
                            <span >
                                <button type="button" class="btn btn-primary" id="addSequence" (click)="addSequence()" style="float:left" *ngIf="!Idpdata.workflowTrigger">{{'Add Sequence Step'| translate}}</button>
                            </span>
                        </div>

                    </div>

                    <div class="card-body">
                        <!-- [sortablejs]="workflowData.workflowSequence" -->
                        <div class="panel-group " role="tablist" aria-multiselectable="true" [sortablejs]="(!Idpdata.workflowTrigger) ? workflowData.workflowSequence : []">

                            <div class="card card-with-border" *ngFor="let pipeline of workflowData.workflowSequence; let i =index" [attr.data-index]="i">
                                <div class="card-header" role="tab">
                                    <div class="d-flex flex-row justify-content-between">
                                        <a attr.aria-controls="{{'#seq'+(i+1)}}" style="cursor:pointer;font-size:14px !important;" (click)="collapse.toggle()">
                                            Step No_{{(i+1)}}
                                            <!-- </span> -->
                                        </a>
                                        <span>
                                            <button type="button" class="btn btn-primary" id="addApplication" (click)="addApplication(i)" style="float:left" >{{'Add Parallel'| translate}}</button>
                                            <span style="margin-left:10px" *ngIf="workflowData.workflowSequence.length !== 1 && !Idpdata.workflowTrigger">
                                                <a (click)="removeSequence(i)" style="cursor:pointer;font-size:16px !important;color:black;">
                                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                                </a>
                                            </span>
                                        </span>

                                    </div>
                                </div>

                                <div id="{{'seq'+(i+1)}}" #collapse="bs-collapse" [collapse]="seqCollapseStatus[i+1]" role="tabpanel" >
                                    <div class="card-body" >
                                        <!-- workflow-info {{i+1}} -->
                                      <div *ngFor="let application of pipeline.applicationDetails; let j =index">
                                        <div class="form-row form-group" style="margin-bottom: 15px; margin-top: 15px;">
                                            <label class="col-md-2  col-form-label " style="padding-right:  0px;">{{'Application Name'| translate}}
                                                <span class="star" *ngIf="!Idpdata.workflowTrigger">*</span>
                                            </label>
                                            <div class="col-md-3 field-tip">
                                                <span *ngIf="!Idpdata.workflowTrigger">
                                                    <select [(ngModel)]="application.applicationName" class="form-control" #appSelect="ngModel" name="appSelect{{i}}{{j}}" (change)="refreshSaveDetails(i, j); getPipelineList(application.applicationName)"
                                                        required id="appSelect{{i}}{{j}}">
                                                        <option value="">--Select--</option>
                                                        <option *ngFor="let name of appNames" [ngValue]="name">{{name}}</option>
                                                    </select>
                                                </span>
                                                <span *ngIf="Idpdata.workflowTrigger">
                                                    <textarea class="form-control" readonly>{{application.applicationName}}</textarea>
                                                </span>


                                            </div>

                                            <label  *ngIf="!Idpdata.workflowTrigger && ((application.applicationName!=='' || application.applicationName!==undefined) && pipeNames[application.applicationName]!==undefined)"
                                                class="col-md-2  col-form-label " style="padding-right:  0px;">{{'Pipeline Name'| translate}}
                                                <span class="star" *ngIf="!Idpdata.workflowTrigger">*</span>
                                            </label>
                                            <div class="col-md-3 field-tip">
                                                <span *ngIf="!Idpdata.workflowTrigger && ((application.applicationName!=='' || application.applicationName!==undefined) && pipeNames[application.applicationName]!==undefined)">
                                                    <angular2-multiselect [data]="pipeNames[application.applicationName]" [(ngModel)]="application.allPipelineNames" id="workfolwparallel{{i}},{{j}}"
                                                        name="parallelPipelinename{{i}},{{j}}" (onSelect)="onItemSelect($event, i, j)"
                                                        (onDeSelect)="OnItemDeSelect($event, i, j)" (onSelectAll)="onSelectAll($event, i, j)"
                                                        (onDeSelectAll)="onDeSelectAll($event, i, j)" [settings]="extraMultiselectSettings">
                                                    </angular2-multiselect>


                                                </span>


                                            </div>
                                            <div [ngClass]="((application.applicationName!=='' || application.applicationName!==undefined) && pipeNames[application.applicationName]!==undefined) ? 'col-md-1': 'col-md-3'"
                                                *ngIf="!Idpdata.workflowTrigger">
                                                <a (click)="removeApplication(i, j)" style="cursor:pointer;font-size:16px !important;color:black;">
                                                  <i class="fa fa-trash" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                            <!-- <div class="col-md-2" *ngIf="!Idpdata.workflowTrigger">
                    <button type="button" class="btn btn-success btn-sm" 
                    [disabled]="workflowData.workflowSequenceTemp[i].appPipeNamesDetails=== undefined || !workflowData.workflowSequenceTemp[i].appPipeNamesDetails"
                    data-toggle="modal" (click)="setIndex(i, j)" data-target="#addPipelineDetails">Add details</button>
                  </div> -->

                                        </div>
                                        <div *ngIf="Idpdata.workflowTrigger">

                                            <div *ngFor="let name of application.pipelineDetails; let k =index">
                                                <div class="row" style="margin-bottom:10px">
                                                    <li class="col-md-offset-1 col-md-3">{{name.pipelineName}}</li>
                                                    <input [checked]="IDPWorkflowParamData.pipelineSelection[i].appSelectionDetails[j].pipelineSelectionDetails[k]==='on'" name="pipeCheckBox"
                                                        id="pipeCheckBoxW" type="checkbox" (change)="IDPWorkflowParamData.pipelineSelection[i].appSelectionDetails[j].pipelineSelectionDetails[k]=$event.target.checked ? 'on':'off'">

                                                </div>
                                                <div class="row " *ngIf="name.releaseNumber!==undefined">

                                                    <div class="col-md-offset-1 col-md-9 alert-success d-flex flex-column justify-content-center">
                                                        <table >
                                                            <thead>
                                                                <tr style="border: 1px solid black; border-collapse: collapse;">
                                                                    <th style="border: 1px black solid;border-collapse: collapse; margin:10px ; padding-top:10px; padding-bottom:10px; padding-right:10px;color:#007dc3;text-align:center">
                                                                        <strong>Release No.</strong>
                                                                    </th>
                                                                    <th style="border: 1px black solid;border-collapse: collapse; margin:10px ; padding-top:10px; padding-bottom:10px; color:#007dc3; padding-right:10px;text-align:center">
                                                                        <strong>Branch or Tag</strong>
                                                                    </th>
                                                                    <th style="border: 1px black solid;border-collapse: collapse; margin:10px ; padding-top:10px; padding-bottom:10px;color:#007dc3; padding-right:10px;text-align:center">
                                                                        <strong>Build</strong>
                                                                    </th>
                                                                    <th style="border: 1px black solid;border-collapse: collapse;margin:10px ; padding-top:10px; padding-bottom:10px;color:#007dc3; padding-right:10px;text-align:center">
                                                                        <strong>Deploy</strong>
                                                                    </th>
                                                                    <th style="border: 1px black solid;border-collapse: collapse;margin:10px ; padding-top:10px; padding-bottom:10px;color:#007dc3; padding-right:10px;text-align:center">
                                                                        <strong>Test</strong>
                                                                    </th>
                                                                    <th style="border: 1px black solid;border-collapse: collapse; margin:10px ; padding-top:10px; padding-bottom:10px;color:#007dc3; padding-right:10px;text-align:center">
                                                                        <strong>ENV</strong>
                                                                    </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr style="border: 1px solid black; border-collapse: collapse;">
                                                                    <td style="border: 1px black solid;margin:10px; padding-left:10px; padding-top:10px; padding-bottom:10px; padding-right:10px;text-align:center ">
                                                                        {{name.releaseNumber}}</td>
                                                                    <td style="border: 1px black solid;margin:10px; padding-left:10px; padding-top:10px; padding-bottom:10px; padding-right:10px;text-align:center ">
                                                                        {{name.branchOrTag?name.branchOrTag:'Default'}}</td>
                                                                    <td style="border: 1px black solid;margin:10px; padding-left:10px; padding-top:10px; padding-bottom:10px; padding-right:10px;text-align:center ">
                                                                        {{name.build?'Selected':'NA'}}</td>
                                                                    <td style="border: 1px black solid;margin:10px; padding-left:10px; padding-top:10px; padding-bottom:10px; padding-right:10px;text-align:center ">
                                                                        {{name.deploy?'Selected':'NA'}}</td>
                                                                    <td style="border: 1px black solid;margin:10px; padding-left:10px; padding-top:10px; padding-bottom:10px; padding-right:10px;text-align:center ">
                                                                        {{(name.testSelected!==undefined && name.testSelected === 'on') ? 'Selected' : 'NA'}}</td>
                                                                    <td style="border: 1px black solid;margin:10px; padding-left:10px; padding-top:10px; padding-bottom:10px; padding-right:10px;text-align:center ">
                                                                        {{(name.deploy || name.testSelected === 'on')?name.envSelected:'NA'}}</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>

                                                </div>

                                            </div>
                                        </div>
                                        <div *ngIf="!Idpdata.workflowTrigger">

                                            <div *ngFor="let name of application.pipelineDetails; let k =index">
                                                <div class="row" style="margin-bottom:10px">
                                                    <li class="col-md-offset-1 col-md-3">{{name.pipelineName}}</li>
                                                    <button type="button" class="btn btn-success btn-sm col-md-offset-1" data-toggle="modal" (click)="launchTriggerDetailsModal(i, j, k)" >Add details</button>
                                                </div>

                                                <div class="row " *ngIf="name.releaseNumber!==undefined">

                                                    <div class="col-md-offset-1 col-md-9 alert-success d-flex flex-column justify-content-center">
                                                        <div class="row">
                                                            Saved Details:
                                                            <span>
                                                                <a (click)="deleteSequenceDetails(i, j, k)" *ngIf="!Idpdata.workflowTrigger"
                                                                    style="cursor:pointer;font-size:16px !important;color:black; float:right">
                                                                    <span class="glyphicon glyphicon-remove"></span>
                                                                </a>
                                                            </span>
                                                        </div>
                                                        <table style="margin-bottom:20px">
                                                            <thead>
                                                                <tr style="border: 1px solid black; border-collapse: collapse;">
                                                                    <th style="border: 1px black solid;border-collapse: collapse; margin:10px ; padding-top:10px; padding-bottom:10px; padding-right:10px;color:#007dc3;text-align:center">
                                                                        <strong>Release No.</strong>
                                                                    </th>
                                                                    <th style="border: 1px black solid;border-collapse: collapse; margin:10px ; padding-top:10px; padding-bottom:10px; color:#007dc3; padding-right:10px;text-align:center">
                                                                        <strong>Branch or Tag</strong>
                                                                    </th>
                                                                    <th style="border: 1px black solid;border-collapse: collapse; margin:10px ; padding-top:10px; padding-bottom:10px;color:#007dc3; padding-right:10px;text-align:center">
                                                                        <strong>Build</strong>
                                                                    </th>
                                                                    <th style="border: 1px black solid;border-collapse: collapse;margin:10px ; padding-top:10px; padding-bottom:10px;color:#007dc3; padding-right:10px;text-align:center">
                                                                        <strong>Deploy</strong>
                                                                    </th>
                                                                    <th style="border: 1px black solid;border-collapse: collapse;margin:10px ; padding-top:10px; padding-bottom:10px;color:#007dc3; padding-right:10px;text-align:center">
                                                                        <strong>Test</strong>
                                                                    </th>
                                                                    <th style="border: 1px black solid;border-collapse: collapse; margin:10px ; padding-top:10px; padding-bottom:10px;color:#007dc3; padding-right:10px;text-align:center">
                                                                        <strong>ENV</strong>
                                                                    </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr style="border: 1px solid black; border-collapse: collapse;">
                                                                    <td style="border: 1px black solid;margin:10px; padding-left:10px; padding-top:10px; padding-bottom:10px; padding-right:10px;text-align:center ">
                                                                        {{name.releaseNumber}}</td>
                                                                    <td style="border: 1px black solid;margin:10px; padding-left:10px; padding-top:10px; padding-bottom:10px; padding-right:10px;text-align:center ">
                                                                        {{name.branchOrTag?name.branchOrTag:'Default'}}</td>
                                                                    <td style="border: 1px black solid;margin:10px; padding-left:10px; padding-top:10px; padding-bottom:10px; padding-right:10px;text-align:center ">
                                                                        {{name.build?'Selected':'NA'}}</td>
                                                                    <td style="border: 1px black solid;margin:10px; padding-left:10px; padding-top:10px; padding-bottom:10px; padding-right:10px;text-align:center ">
                                                                        {{name.deploy?'Selected':'NA'}}</td>
                                                                    <td style="border: 1px black solid;margin:10px; padding-left:10px; padding-top:10px; padding-bottom:10px; padding-right:10px;text-align:center ">
                                                                        {{(name.testSelected!==undefined && name.testSelected === 'on') ? 'Selected' : 'NA'}}</td>
                                                                    <td style="border: 1px black solid;margin:10px; padding-left:10px; padding-top:10px; padding-bottom:10px; padding-right:10px;text-align:center ">
                                                                        {{(name.deploy || name.testSelected === 'on')?name.envSelected:'NA'}}</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </fieldset>
            <br />
            <div class="row">
                <div class="col-md-12 btn-container">
                    <div>
                        <div class="alert alert-success" *ngIf="message=='success'">
                            <strong *ngIf="!Idpdata.workflowTrigger">{{'Your request for create master pipeline has been submitted'| translate}}.</strong>
                            <strong *ngIf="Idpdata.workflowTrigger">{{'The pipeline has been triggered'| translate}}.</strong>
                            <!-- {{'Redirecting to PreviousConfiguration'|translate}}. -->
                        </div>

                        <div class="alert alert-danger" *ngIf="message=='error'">
                            <strong *ngIf="!Idpdata.workflowTrigger">{{'Error! Please check the input provided'| translate}}</strong>
                            <strong *ngIf="Idpdata.workflowTrigger">{{'Error! The pipeline is not triggered. Please contact IDP admin'| translate}}</strong>
                        </div>


                    </div>
                    <button *ngIf="!Idpdata.workflowTrigger" class="btn btn-danger btn-sm" (click)="resetData()" id="reset" type="button" [disabled]="Idpdata.freezeNavBars===true">{{'Reset'| translate}}</button>
                    <!-- <button type="submit" class="btn btn-success btn-sm" style="float:right;" id="btn_txt">{{'Continue'|translate}}</button> -->
                    <button id="tesbbtn" type="submit" class="btn btn-success btn-sm" style="float:right;" [disabled]="Idpdata.freezeNavBars===true || !workflowForm.form.valid ">
                        <span *ngIf="loader=='off'"> {{'Submit'| translate}} &nbsp;</span>
                        <span *ngIf="loader=='on'">{{'Submitting'| translate}} &nbsp;
                            <i class="fa fa-spinner fa-spin"></i>
                        </span>
                    </button>

                </div>
            </div>
            <br />
            <div *ngIf="setFormStatus(workflowForm.form.valid)">

            </div>

        </form>

    </div>
</div>
