.active-text {
  font-size: 15px;
  font-weight: bold;
}

.blue {
  background-color: #2196f3;
}

.black {
  background-color: #000;
}

.red {
  background-color: #f44336;
}

.green {
  background-color: #4caf50;
}

.orange {
  background-color: #ff9800;
}

.white-text {
  color: #fff;
}
