.nav-pills {
  &.nav-wizard {
    li {
      border-right: 10px solid transparent;
      border-left: 10px solid transparent;
    }
  }

  .btn {
    color: #007cc3;
    background-color: #fff;
  }

  .active,
  .btn:hover {
    border-color: #bcd9f5;
    box-shadow: 0 0 5px #bcd9f5;
  }

  .arrow_button {
    width: 12px;
    height: 12px;
    position: relative;
    right: -8px;
    top: 10px;
  }
}
