<!--
*
* Copyright 2018 Infosys Ltd.
* Use of this source code is governed by MIT license that can be found in the LICENSE file or at
* https://opensource.org/licenses/MIT.”
*
-->
<div class="d-flex flex-row justify-content-center" >
  <ul class="nav nav-pills nav-wizard row" >
    <ng-container>
    <li class="d-flex flex-row justify-content-center">
      <button [ngClass]="basicInfo ? ' active' : ' '" class="btn " [routerLink]="IdpdataService.freezeNavBars?['/createConfig/testInfo']:['/createConfig/basicInfo']"
         [style.cursor]="getCursor()"
         id="menu_basic" >
         <img class="small_icon" src="assets/img/icon/basic_info.svg" alt="basicinfo"/>
        {{'Basic Info'|translate}}</button>
         <img class="arrow_button" src="assets/img/icon/next_arrow.svg"/>
     </li>
    </ng-container>
    <ng-container class="row" *ngIf="!IdpdataService.createWorkflowSequenceflag">
    <li class="d-flex flex-row justify-content-center" >
      <button [ngClass]="codeInfo ? ' active' : ' '" class="btn" [routerLink]="IdpdataService.freezeNavBars?['/createConfig/testInfo']:['/createConfig/codeInfo']"
         [style.cursor]="getCursor()"
         id="menu_code"
         >
         <img class="small_icon" src="assets/img/icon/code.svg" alt="codeimg"/>
        {{'Code'|translate}}</button>
        <img class="arrow_button" src="assets/img/icon/next_arrow.svg"/>
    </li>
    <li class="d-flex flex-row justify-content-center" >
      <button [ngClass]="buildInfo ? ' active' : ' '" class="btn" 
         [routerLink]="IdpdataService.freezeNavBars?['/createConfig/testInfo']:['/createConfig/buildInfo']"
         [style.cursor]="getCursor()" id="menu_build"

         >
         <img class="small_icon" src="assets/img/icon/build.svg" alt="buildimg"/>
        {{'Build'|translate}}</button>
        <img class="arrow_button" src="assets/img/icon/next_arrow.svg"/>
    </li>
    <li class="d-flex flex-row justify-content-center" >
      <button [ngClass]="deployInfo ? ' active' : ' '" class="btn" 
         [routerLink]="IdpdataService.freezeNavBars?['/createConfig/testInfo']:['/createConfig/deployInfo']"
         [style.cursor]="getCursor()" id="menudeploy"

         >
         <img class="small_icon" src="assets/img/icon/deploy.svg" alt="deployimg"/>
        {{'Deploy'|translate}}</button>
        <img class="arrow_button" src="assets/img/icon/next_arrow.svg"/>
    </li>
    <li class="d-flex flex-row justify-content-center" >
      <button [ngClass]="testInfo ? ' active' : ' '" class="btn" 
         [routerLink]="IdpdataService.freezeNavBars?['/createConfig/testInfo']:['/createConfig/testInfo']"
         [style.cursor]="getCursor()" id="menu_test">
         <img class="small_icon" src="assets/img/icon/test.svg" alt="testimg"/>
        {{'Test'|translate}}</button>
    </li>
    </ng-container>
    <ng-container class="row" *ngIf="IdpdataService.createWorkflowSequenceflag" >
      <li class="d-flex flex-row justify-content-center" >
      <button class="btn" [ngClass]="(workflowInfo && IdpdataService.createWorkflowSequenceflag) ? ' active'  : ' '"
        [routerLink]="IdpdataService.freezeNavBars?['/createConfig/workflowInfo']:['/createConfig/workflowInfo']"
        id="menu_grant"
        [style.cursor]="getCursor()"

        >
        {{'Workflow of Pipelines'|translate}}</button>
      </li>
    </ng-container>
  </ul>
</div>