a {
  font-weight: normal !important;
  font-family: 'Open Sans', sans-serif !important;
  font-size: 12px !important;
}

/* a:hover {
  color: #ffffff !important;
  background: -webkit-linear-gradient(#1fa0e4, #1992d1) !important;
  background: -moz-linear-gradient(#1fa0e4, #1992d1) !important;
  background: -o-linear-gradient(#1fa0e4, #1992d1) !important;
  background: -ms-linear-gradient(#1fa0e4, #1992d1) !important;
  background: linear-gradient(#1fa0e4, #1992d1) !important;
} */

a:active {
  background-color: yellow !important;
}

#sidebar {
  /* width: 190px;
      height: 900px;
      position: fixed; */
  background-color: #2a2a2a;
  box-shadow: 2px 2px 2px #d0d0d0;
}

#MainMenu {
  border: none !important;
  border-radius: 0 !important;
}

.list-group-item {
  padding-top: 13px !important;
  padding-bottom: 13px !important;
  background-color: #000000 !important;
  color: #ffffff !important;
  border: none !important;
  border-radius: 0 !important;
}

/* a.list-group-item:focus {
  text-decoration: none !important;
  background: -webkit-linear-gradient(#1fa0e4, #1992d1) !important;
  background: -moz-linear-gradient(#1fa0e4, #1992d1) !important;
  background: -o-linear-gradient(#1fa0e4, #1992d1) !important;
  background: -ms-linear-gradient(#1fa0e4, #1992d1) !important;
  background: linear-gradient(#1fa0e4, #1992d1) !important;
}

.marked {
  text-decoration: none !important;
  background: -webkit-linear-gradient(#1fa0e4, #1992d1)!important;
  background: -moz-linear-gradient(#1fa0e4, #1992d1)!important;
  background: -o-linear-gradient(#1fa0e4, #1992d1)!important;
  background: -ms-linear-gradient(#1fa0e4, #1992d1)!important;
  background: linear-gradient(#1fa0e4, #1992d1)!important;
} */

#glyph_style {
  padding-right: 11px;
  color: #2a2a2a;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
/* 
li a.active {
  background-color: #0198E1;
  color: white;
  text-decoration: none;
}

li a:hover {
  background-color: #0198E1;
  color: white;
  text-decoration: none;
} */


/* style glyph */

.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}


/* align glyph */

.left-addon .glyphicon {
  left: 0px;
}

.right-addon .glyphicon {
  right: 0px;
}


/* add padding  */

.left-addon input {
  padding-left: 30px;
}

.right-addon input {
  padding-right: 30px;
}

.fake-input {
  position: relative;
  width: 240px;
}

.fake-input input {
  border: none;
  background: #fff;
  display: block;
  width: 100%;
  box-sizing: border-box
}

.fake-input img {
  position: absolute;
  top: 29px;
  right: 5px
}
