<form [parentFormConnect]="formName">
<div class="animate-switch">
      <div class="card">
        <div class="card-header" > Build Operations </div>
        <div class="" style="margin-bottom:0px;margin-left:13px" id="accordion" aria-multiselectable="true">
          <!--SQL FIle Package-->
          <div style="margin-top:20px">
            <div class="form-row form-group ">
              <div class="col-md-3  "> <label class="col-form-label"> Project Name </label> <span class="star">*</span> </div>
              <div class="col-md-9 text-left field-tip">
                <input class="form-control  boxWidth" id="bdbonodepntf" [(ngModel)]="buildInfo.modules[0].moduleName" name="moduleName"
                 type="text"  placeholder="Project1" minlength="1" maxlength="150" required> <span class="tip-content">Name of the Project</span>                </div>
            </div>
            <div class="form-row form-group ">
              <div class="col-md-3  "> <label class="col-form-label"> Source file path </label> <span class="star">*</span> </div>
              <div class="col-md-9 text-left field-tip"> <input class="form-control  boxWidth" id="bdbonodesfptf" [(ngModel)]="buildInfo.modules[0].relativePath" [ngModelOptions]="{standalone: true}" type="textbox" placeholder="source" minlength="1" maxlength="150" required> <span class="tip-content">Path of source file</span>                </div>
            </div>
            <div style="margin-left:20px">
              <!--Start  Dependency Installations -->

      				<div class="form-row form-group">
      					<div class="col-md-12 marginLeft">
      						<label class="checkbox-inline">
                                      <input type="checkbox" id="bdbonodedicb" [checked]="tempObject.modules[0].depInstall==='on'" name="depInstall121"
                                      (change)="tempObject.modules[0].depInstall=$event.target.checked ? 'on':clearAll()"
                                      style="width: 15px; height: 15px" >&nbsp;&nbsp;&nbsp;Dependency Installations
                                  </label>
      					</div>
      				</div>
              <div class="animate-switch-container" *ngIf="tempObject.modules[0].depInstall=='on'">
      					<div class="card-body  animate-switch"  style="margin-bottom:0px;">

      						<div class="form-row form-group labelIndent1">
      							<div class="col-md-3  labelIndent2">
      								<label class="col-form-label">npm Proxy URL</label>
      							</div>
      							<div class="col-md-9 text-left field-tip">
      								<input class="form-control  boxWidth"
                      #proxyUrl="ngModel" name="proxyUrl"
                      [(ngModel)]="buildInfo.modules[0].npmProxy"
                      type="text" id="bdbonodeurlpitf"
                      pattern="(https?://?|www.)[_a-zA-Z0-9-.:/@]+"
                      placeholder="http://10.12.144.2" minlength="1" maxlength="150">
      								<span class="tip-content">URL for Proxy to install npm dependency.</span>
                      <div *ngIf="proxyUrl.errors && (proxyUrl.dirty || proxyUrl.touched)" class="alert alert-danger ">

                        <div [hidden]="!proxyUrl.errors.required">
                            This is a required field
                        </div>
                          <div [hidden]="!proxyUrl.errors.pattern">
                              Please give correct url
                          </div>
                      </div>
      							</div>
      						</div>
      						<div class="form-row form-group labelIndent1">
      							<div class="col-md-3  labelIndent2">
      								<label class="col-form-label">npm Proxy Username
                        <span class="star" *ngIf="buildInfo.modules[0].npmProxyPassword!==undefined && buildInfo.modules[0].npmProxyPassword!==''">*</span>
                      </label>
      							</div>
      							<div class="col-md-9 text-left field-tip">
      								<input class="form-control  boxWidth" id="bdbonodenpuntf" [(ngModel)]="buildInfo.modules[0].npmProxyUserName"
                      [required]="buildInfo.modules[0].npmProxyPassword!==undefined && buildInfo.modules[0].npmProxyPassword!==''"
                      pattern="[_a-zA-Z0-9.]+" #proxyname="ngModel" name="proxyname"
                       type="text" placeholder="user1" minlength="1" maxlength="150">
      								<span class="tip-content">Username Proxy to install npm dependency.</span>
                      <div *ngIf="proxyname.errors && (proxyname.dirty || proxyname.touched)" class="alert alert-danger ">
                        <div [hidden]="!proxyname.errors.required">
                            This is a required Field
                        </div>

        									<div [hidden]="!proxyname.errors.pattern">
        											Username can only contain alphabets, numbers, dot or underscore.
        									</div>
        							</div>
      							</div>
      						</div>
      						<div class="form-row form-group labelIndent1">
      							<div class="col-md-3  labelIndent2">
      								<label class="col-form-label">npm Proxy Password
      								<span class="star" *ngIf="buildInfo.modules[0].npmProxyUserName!==undefined && buildInfo.modules[0].npmProxyUserName!==''">*</span></label>
      							</div>
      							<div class="col-md-9 text-left field-tip">
      								<input class="form-control  boxWidth" id="bdbonodenpptf" [(ngModel)]="buildInfo.modules[0].npmProxyPassword" encrypt
                      name="npmProxyPassword" #npmProxyPassword="ngModel"
      								[required]="buildInfo.modules[0].npmProxyUserName!==undefined && buildInfo.modules[0].npmProxyUserName!==''"
      								type="password" placeholder="**********" minlength="1" maxlength="150">
      								<span class="tip-content">Password for Proxy to install npm dependency.</span>
                      <div *ngIf="npmProxyPassword.errors && (npmProxyPassword.dirty || npmProxyPassword.touched)" class="alert alert-danger ">
                        <div [hidden]="!npmProxyPassword.errors.required">
                            This is a required Field
                        </div>


        							</div>
      							</div>
      						</div>

      					</div>

      				</div>

              <!-- End Dependency Installations   -->
              <!--Start Install Grunt-->

              <div *ngIf="installGruntOn()"></div>

              <div class="form-row form-group">
                <div class="col-md-12 marginLeft"> <label class="checkbox-inline">
                                <input type="checkbox" name="installGrunt" id="bdbonodeigecb"
                                [checked]="buildInfo.modules[0].installGrunt==='on'"
                                [disabled]="IdpdataService.osFlag==true"
                                (change)="buildInfo.modules[0].installGrunt=$event.target.checked ? 'on':'off'" style="width: 15px; height: 15px">&nbsp;&nbsp;&nbsp;Install Grunt Explicitly
                            </label> </div>
              </div>
              <!-- <div class="animate-switch-container" [ngSwitch]="tempObject.modules[0].install"> -->
              <!--  <div class="card-body  animate-switch" *ngSwitchCase="on" style="margin-bottom:0px;"> -->
              <!-- </div> -->
              <!-- </div> -->
              <!--End  Install Grunt -->


              <!--Start  Compile -->
              <div class="form-row form-group">
                <div class="col-md-12 marginLeft"> <label class="checkbox-inline">
                                <input type="checkbox" id="bdbonodeclcb"
                                [checked]="tempObject.modules[0].compile==='on'" name="compile"
                                (change)="tempObject.modules[0].compile=$event.target.checked ? 'on':closeCompile()" style="width: 15px; height: 15px" >&nbsp;&nbsp;&nbsp;Compile
                            </label> </div>
              </div>
              <div class="animate-switch-container" [ngSwitch]="tempObject.modules[0].compile=='on'">
                <div class="card-body  animate-switch" *ngSwitchCase="true" style="margin-bottom:0px;">
                  <div class="form-row form-group labelIndent1">
                    <div class="col-md-3  labelIndent2"> <label class="col-form-label">Path of directory containing package.json<span class="star">*</span></label> </div>
                    <div class="col-md-9 text-left field-tip"> <input class="form-control  boxWidth" id="bdbonodepodcptf"
                      [(ngModel)]="buildInfo.modules[0].jsonPath" name="jsonPath"
                      type="textbox" placeholder="web_app" minlength="1" maxlength="150" required> <span class="tip-content">Path of directory containing package.json</span>                      </div>
                  </div>
                </div>

              </div>

              <div class="form-row form-group" hidden="true">
                <div class="col-md-12 marginLeft"> <label class="checkbox-inline">
                                <input type="checkbox" id="bdbonodecfcb" [checked]="buildInfo.modules[0].codeFormatting==='on'"
                                (change)="buildInfo.modules[0].codeFormatting=$event.target.checked ? 'on':'off'"
                                [disabled]="tempObject.modules[0].compile!='on'" name="CodeFormat"
                                style="width: 15px; height: 15px">&nbsp;&nbsp;&nbsp;Code Formatting
                            </label> </div>
              </div>
              <div class="form-row form-group">
                <div class="col-md-12 marginLeft"> <label class="checkbox-inline">
                                <input type="checkbox" id="bdbonodecacb" (click)="codeAnalysisCheckbox()"
                                [checked]="tempObject.modules[0].codeAnalysis==='on'" name="CodeAnalysy"
                                (change)="tempObject.modules[0].codeAnalysis=$event.target.checked ? OpenCodeAnalysys():closeCodeAnalysis()" style="width: 15px; height: 15px">&nbsp;&nbsp;&nbsp;Code Analysis
                            </label> </div>

              </div>

              <div class="animate-switch-container" [ngSwitch]="tempObject.modules[0].codeAnalysis=='on'">
                <div class="container-fluid animate-switch" *ngSwitchCase="true">
                  <div class="col-md-12 form-row form-group" style="height: 40px;text-transform:capitalize;"> <label class="checkbox-inline " style="margin-right: 10px;">
									<input
									type="checkbox" id="bdbonodesncb" [checked]="buildInfo.modules[0].codeAnalysis[0]!=='off'" name="codeSonar"
									(change)="buildInfo.modules[0].codeAnalysis[0]=$event.target.checked ? 'sonar':'off'"
                  style="margin-right:7px;">Sonar


								</label> <label class="checkbox-inline ">
									<input
									type="checkbox" id="bdbonodecscb" [disabled]="tempObject.modules[0].compile!='on'" name="codeCheck"
                  [checked]="buildInfo.modules[0].codeAnalysis[1]!=='off'"
									(change)="buildInfo.modules[0].codeAnalysis[1]=$event.target.checked ? 'checkStyle':'off'"

                  style="margin-right:7px;">CheckStyle


								</label>
                    <!-- <div *ngIf="tempObject.modules[0].codeAnalysis=='off' || tempObject.modules[0].codeAnalysis ==undefined
								  || tempObject.modules[0].codeAnalysis==null">
								  	<div *ngIf="$root.pa=true"></div>
								  </div> --></div>
                  <div class="col-md-12 form-row form-group"> <label class="checkbox-inline ">
									<input
									type="checkbox" id="bdbonodeedscb" [checked]="tempObject.modules[0].excludeDirToScan==='on'" name="excFold"
                  (change)="tempObject.modules[0].excludeDirToScan=$event.target.checked ? 'on':excludeDirToScanOff()"

									[disabled]="buildInfo.modules[0].codeAnalysis[0]!='sonar'
									&& buildInfo.modules[0].codeAnalysis[1]!='checkStyle'">
									Exclude directories to scan


								        </label>

                  </div>
                  <!-- <div class="row" [ngSwitch]="tempObject.modules[0].excludeDirToScan=='on'">
                        <div *ngSwitchCase="true" style="margin-bottom:0px;">

                            <div class="form-row form-group " >
                                <div class="col-md-3  ">
                                    <label class="col-form-label"> Exclude folders </label> <span class="star">*</span>
                                </div>
                                <div class="col-md-9 text-left field-tip">
                                    <input class="form-control  boxWidth" [(ngModel)]="buildInfo.modules[0].excludeFolders"
                                    type="text" placeholder="source" minlength="1" maxlength="150" required>
                                    <span class="tip-content">Name of folders to be excluded</span>
                                </div>
                            </div>
                        </div>

                         <div  *ngSwitchCase="false">
							<div *ngIf="buildInfo.modules[0].excludeFolders=''"></div>

                        </div>
                    </div> --></div>

              </div>
              <div *ngIf="checkCodeAOn()"></div>
              <div class="animate-switch-container" [ngSwitch]="tempObject.modules[0].excludeDirToScan=='on'">
                <div class="container-fluid animate-switch" *ngSwitchCase="true" style="margin-bottom:0px;">
                  <div class="form-row form-group ">
                    <div class="col-md-3  "> <label class="col-form-label"> Exclude folders </label> <span class="star">*</span> </div>
                    <div class="col-md-9 text-left field-tip"> <input class="form-control " id="bdbonodeeftf" [(ngModel)]="buildInfo.modules[0].excludeFolders"
                      name="excludefOLDERS" type="text" placeholder="source" required> <span class="tip-content">Name of folders to be excluded</span> </div>
                  </div>
                </div>

              </div>
              <!-- Start SecurityAnalysis-->
              <!-- End SecurityAnalysis-->
              <div class="form-row form-group" hidden="true">
                <div class="col-md-12 marginLeft"> <label class="checkbox-inline">
                                <input type="checkbox" id="bdbonoderacb" [checked]="tempObject.modules[0].checkRunApp==='on'"
                                [disabled]="tempObject.modules[0].compile!='on'" name="checkRunApp"
                                (change)="tempObject.modules[0].checkRunApp=$event.target.checked ? 'on':closeCheckRun()" style="width: 15px; height: 15px">&nbsp;&nbsp;&nbsp;Run Application
                            </label> </div>
              </div>

              <div class="animate-switch-container" [ngSwitch]="tempObject.modules[0].checkRunApp">
                <div class="card-body  animate-switch" *ngSwitchCase="'on'" style="margin-bottom:0px;">
                  <div class="form-row form-group labelIndent1">
                    <div class="col-md-3  labelIndent2"> <label class="col-form-label"> Execute Script </label> <span class="star">*</span> </div>
                    <div class="col-md-9 text-left field-tip"> <input class="form-control  boxWidth" id="bdbonodeestf"
                      [(ngModel)]="buildInfo.modules[0].customScript" name="customScript" type="textbox" placeholder="server.js" minlength="1" maxlength="150" required> <span class="tip-content">Script to be executed to start the application</span>                      </div>
                  </div>
                </div>
              </div>
              <div class="form-row form-group" >
                <div class="col-md-12 marginLeft"> <label class="checkbox-inline">
                                <input type="checkbox" id="bdbonodeutcb" [checked]="buildInfo.modules[0].unitTesting==='on'"
                                [disabled]="tempObject.modules[0].compile!='on'" name="unittest"
                                (change)="buildInfo.modules[0].unitTesting=$event.target.checked ? 'on':closeUnitTest()" style="width: 15px; height: 15px">&nbsp;&nbsp;&nbsp;Unit Testing
                            </label> </div>
              </div>
              <div class="animate-switch-container" [ngSwitch]="buildInfo.modules[0].unitTesting=='on'">
                <div class="card-body  animate-switch" *ngSwitchCase="true" style="margin-bottom:0px;">
                  <div class="form-row form-group labelIndent1">
                    <div class="col-md-3  labelIndent2"> <label class="col-form-label"> Test Script Path  </label> <span class="star">*</span> </div>
                    <div class="col-md-9 text-left field-tip"> <input class="form-control  boxWidth" id="bdbonodeutpathtf"
                      [(ngModel)]="buildInfo.modules[0].unitTestProjectName" name="utProjectname" type="textbox" placeholder="com/junit" minlength="1" maxlength="150" required> <span class="tip-content">Test Script Name relative to checkout path</span>                      </div>
                  </div>
                </div>

              </div>
              <div class="form-row form-group" >
                <div class="col-md-12 marginLeft1"> <label class="checkbox-inline">
                                    <input type="checkbox" id="bdbonodecccb" [checked]="buildInfo.modules[0].codeCoverage==='on'"
                                    [disabled]="buildInfo.modules[0].unitTesting!='on'" name="codeCoe"
                                    (change)="buildInfo.modules[0].codeCoverage=$event.target.checked ? 'on':'off'" style="width: 15px;
                                    height: 15px">&nbsp;&nbsp;&nbsp;Code Coverage
                                </label> </div>
              </div>

            </div>
            <div style="height:8px"></div>
          </div>
        </div> <br> </div>
    </div>
</form>
